<% provide(:title, @user.firstName+@user.lastName) %>

<div class="wrapper">
<%= link_to 'プロフィール変更', edit_user_registration_path %>
  <h1>
    <%= gravatar_for @user %>
    <%= @user.firstName+@user.lastName %>
  </h1
  </div>
</div>