.container
	- @recipes.each do |recipe|
		.mt-20
			.col-lg-4.col-md-6
				.recipe
					.image_wrapper
						= link_to recipe do
							= image_tag recipe.picture.url if recipe.picture?
					%h2= link_to recipe.title, recipe
					= render 'likes/like', recipe: recipe