<% provide(:title, "recipe") %>


</h2>
<div class=' recipe_card'>
<div class='prs_wrapper'>
<div class="prs_favorite_icon"><div class="prs_favorite"></div><span class="prs_favorite_count">931</span></div>
<a class="pro_recipe_link" href="/pro/recipes/3547941"><div class=' recipe_image'>
<span class="prs_image_overlay"></span><img src="https://img.cpcdn.com/recipes/3547941/375x375c/a58b666e52d45cb472c2eb0d13576be7?u=10037065&amp;p=1449037587" alt="A58b666e52d45cb472c2eb0d13576be7?u=10037065&amp;p=1449037587" />
</div>
<div class='pro_recipe_title'>
豚肉となすのスタミナ煮
</div>
</a><div class='author_name'>
主婦の友社
</div>
</div>
</div>
<div class='last recipe_card'>
<div class='prs_wrapper'>
<div class="prs_favorite_icon"><div class="prs_favorite"></div><span class="prs_favorite_count">429</span></div>
<a class="pro_recipe_link" href="/pro/recipes/2764292"><div class=' recipe_image'>
<span class="prs_image_overlay"></span><img src="https://img.cpcdn.com/recipes/2764292/375x375c/55a16977c9b352874c138b201f15feb2?u=10037065&amp;p=1408604840" alt="55a16977c9b352874c138b201f15feb2?u=10037065&amp;p=1408604840" />
</div>
<div class='pro_recipe_title'>
さば缶の簡単冷や汁
</div>
</a><div class='author_name'>
レタスクラブ
</div>
</div>
</div>
<div class=' recipe_card'>
<div class='prs_wrapper'>
<div class="prs_favorite_icon"><div class="prs_favorite"></div><span class="prs_favorite_count">137</span></div>
<a class="pro_recipe_link" href="/pro/recipes/4610876"><div class=' recipe_image'>
<span class="prs_image_overlay"></span><img src="https://img.cpcdn.com/recipes/4610876/375x375c/c8be189e6d00c6afe1575c904824fdb9?u=10037065&amp;p=1499302486" alt="C8be189e6d00c6afe1575c904824fdb9?u=10037065&amp;p=1499302486" />
</div>
<div class='pro_recipe_title'>
かぼちゃの冷製ポタージュ
</div>
</a><div class='author_name'>
本田よう一
</div>
</div>
</div>
<div class='last recipe_card'>
<div class='prs_wrapper'>
<div class="prs_favorite_icon"><div class="prs_favorite"></div><span class="prs_favorite_count">1558</span></div>
<a class="pro_recipe_link" href="/pro/recipes/2833750"><div class=' recipe_image'>
<span class="prs_image_overlay"></span><img src="https://img.cpcdn.com/recipes/2833750/375x375c/84101d1ac053edbc67fc0af947791e9a?u=10037065&amp;p=1412999106" alt="84101d1ac053edbc67fc0af947791e9a?u=10037065&amp;p=1412999106" />
</div>
<div class='pro_recipe_title'>
とりむね肉の蒸し焼きねぎソース
</div>
</a><div class='author_name'>
レタスクラブ
</div>
</div>
</div>
<div class=' recipe_card'>
<div class='prs_wrapper'>
<div class="prs_favorite_icon"><div class="prs_favorite"></div><span class="prs_favorite_count">788</span></div>
<a class="pro_recipe_link" href="/pro/recipes/2910136"><div class=' recipe_image'>
<span class="prs_image_overlay"></span><img src="https://img.cpcdn.com/recipes/2910136/375x375c/3e70de291c7a5b8c4b925dca2c9d9bb2?u=10037065&amp;p=1417432462" alt="3e70de291c7a5b8c4b925dca2c9d9bb2?u=10037065&amp;p=1417432462" />
</div>
<div class='pro_recipe_title'>
鮭とピーマンのしょうがじょうゆ炒め
</div>
</a><div class='author_name'>
オレンジページ
</div>
</div>
</div>
<div class='last recipe_card'>
<div class='prs_wrapper'>
<div class="prs_favorite_icon"><div class="prs_favorite"></div><span class="prs_favorite_count">502</span></div>
<a class="pro_recipe_link" href="/pro/recipes/2758651"><div class=' recipe_image'>
<span class="prs_image_overlay"></span><img src="https://img.cpcdn.com/recipes/2758651/375x375c/f416d76205a540728a1c31a2b972bbff?u=10037065&amp;p=1408375438" alt="F416d76205a540728a1c31a2b972bbff?u=10037065&amp;p=1408375438" />
</div>
<div class='pro_recipe_title'>
コーンのかきたまスープ
</div>
</a><div class='author_name'>
レタスクラブ
</div>
</div>
</div>
<div class='more_menu_item'>
<a class="with_arrow" href="/pro/popular">もっと見る</a>
</div>
</div>
</div>