<%# <%= link_to gravatar_for(current_user, size: 50), current_user %>
<span><%= link_to "自分の投稿レシピ   ", "/user/#{current_user.id}" %></span>
<%# <span><%= pluralize(current_user.recipes.count, "recipe") %></span> 