.page-content
  .wrapper
    .rich-text
      %p
        FODMAPについての動画
    .rich-text      
      %iframe{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "350px", src: "https://www.youtube.com/embed/0EZ1hFZ_70I", width: "100%"}
.page-content
  .about-wrapper
    .rich-text
      %h2 FODMAPsとは
      %p
        FFODMAPは、私たちの腸では完全に消化・吸収されない糖類のグループです。FODMAPが小腸に到達すると、
        水を引き寄せながらゆっくりと移動します。彼らが大腸に通過すると、FODMAPは腸内細菌によって発酵され、その結果としてガスが発生します。
        余分なガスと水分が腸壁を伸ばして膨張させます。IBSの人は腸が敏感なので、腸壁が「伸びる」ことで痛みや違和感を感じるようになります。
        簡単に言うと、FODMAPは短鎖炭水化物（糖質）の集まりで、腸内で適切に吸収されず、IBSの人の症状の引き金となる可能性があります。
        FODMAPは、多くの食品や食品添加物に自然に含まれています。
.wrapper
  .row.left
    .rich-text
      %p
        %span 簡単に言えば、FODMAPは、腸で適切に吸収されない短鎖炭水化物（糖）の集まりであり、
        IBS患者の症状を引き起こす可能性があります。 FODMAPは多くの食品や食品添加物に自然に含まれています。
        -# %a{href: "/ibs-central/symptoms/"} symptoms in people with IBS
        -# %span . FODMAPs are found naturally in many foods and food additives.
  .row.right
    .rich-text
      %h3
        %span> F
        ermentable
      %p          
        発酵性。消化が遅く胃腸で発酵を始めることができる糖類のことを意味し、腹部に不快感を引き起こします。
        
    .rich-text
      %h3 
        %span> O
        ligosaccharides
      %p オリゴ糖。小麦、ライ麦、ニンニクなどに含まれるフルクタンやGOSのこと。
    .rich-text
      %h3 
        %span> D
        isaccharides
      %p 二糖類。いわゆる乳糖のことで、ソフトチーズや牛乳、ヨーグルトなどの乳製品に含まれている。
    .rich-text
      %h3 
        %span> M
        onosaccharides
      %p
        単糖類。フルクトースのことで、蜂蜜やリンゴ、マンゴーなどの果物に含まれる糖類。
    .rich-text
      %h3 
        %span> A
        nd
    .rich-text
      %h3 
        %span> P
        olyols
      %p ポリオール。ソルビトールとマンニトールといわれるもののことで、例えばカリフラワーとかマッシュルーム、アボカドなどの野菜や、その他人工甘味料に含まれている。

    -# .rich-text
    -#   %h2 What happens when you eat FODMAPs? 
    -#   %p
    -#     FODMAPs are found in a wide range of foods, and most people eat
    -#     %a{href: "/about-fodmap-and-ibs/high-and-low-fodmap-foods/"} high FODMAP foods
    -#     everyday without issue. When FODMAPs are eaten, they move slowly through the small intestine attracting water. When they reach the large intestine, gut bacteria use the FODMAPs as a fuel source to survive. The bacteria rapidly ferment FODMAPs, producing gas as a result. 
    -#   %p
    -#     These events occur in all people (i.e. people with and without IBS). The difference is that people with IBS can have problems with motility (the speed at which contents move through the intestines) and/or a highly sensitive gut wall. The extra water and gas in the intestines, causes the intestinal wall to stretch and expand and results in common
    -#     %a{href: "/ibs-central/symptoms/"} IBS symptoms
    -#     such as pain, excessive wind, bloating, distension and altered bowel habit (diarrhoea, constipation or both).
    -# .rich-text
    -#   %h2 Where are FODMAPs found? 
    -#   %p
    -#     FODMAPs are found in a wide range of foods, such as fruits, vegetables, breads, cereals, nuts, legumes and
    -#     = succeed "." do
    -#       %span confectionery
    -#     %a{href: "/blog/fodmap-testing/"} laboratory analysis
    -#     is needed to understand the FODMAP content of food. The team at
    -#     %a{href: "/about-fodmap-and-ibs/meet-team/"} Monash University
    -#     are experts at measuring the FODMAP content of foods. We distribute this information about the FODMAP content of food using our mobile phone app, the
    -#     = succeed "." do
    -#       %a{href: "/ibs-central/i-have-ibs/get-the-app/"} Monash University FODMAP Diet App
    -# .shadow-scroller{"data-shadow-scroller" => "0"}
    -#   .shadow-scroller__scroll-view
    -#     %table
    -#       %thead
    -#         %tr
    -#           %th
    -#           %th
    -#             High FODMAP foods
    -#           %th
    -#             Low FODMAP alternatives
    -#       %tbody
    -#         %tr
    -#           %th
    -#             Vegetables
    -#           %td
    -#             Artichoke, asparagus, cauliflower, garlic, green peas, mushrooms, onion, sugar snap peas
    -#           %td
    -#             Aubergine/eggplant, beans (green), bok choy, capsicum (bell pepper), carrot, cucumber, lettuce, potato, tomato, zucchini
    -#         %tr
    -#           %th
    -#             Fruits
    -#           %td
    -#             Apples, apple juice, cherries, dried fruit, mango, nectarines, peaches, pears, plums, watermelon
    -#           %td
    -#             Cantaloupe, grapes, kiwi fruit (green), mandarin, orange, pineapple, strawberries
    -#         %tr
    -#           %th
    -#             Dairy &amp; alternatives
    -#           %td
    -#             Cow's milk, custard, evaporated milk, ice cream, soy milk (made from whole soybeans), sweetened condensed milk, yoghurt
    -#           %td
    -#             Almond milk, brie/camembert cheese, feta cheese, hard cheeses, lactose-free milk, soy milk (made from soy protein)
    -#         %tr
    -#           %th
    -#             Protein sources
    -#           %td
    -#             Most legumes/pulses, some marinated meats/poultry/seafood, some processed meats
    -#           %td
    -#             Eggs, firm tofu, plain cooked meats/poultry/seafood, tempeh
    -#         %tr
    -#           %th
    -#             Breads &amp; cereals
    -#           %td
    -#             Wheat/rye/barley based breads, breakfast cereals, biscuits and snack products
    -#           %td
    -#             Corn flakes, oats, quinoa flakes, quinoa/rice/corn pasta, rice cakes (plain), sourdough spelt bread, wheat/rye/barley free breads
    -#         %tr
    -#           %th
    -#             Sugars, sweeteners &amp; confectionery
    -#           %td
    -#             High fructose corn syrup, honey, sugar free confectionery
    -#           %td
    -#             Dark chocolate, maple syrup, rice malt syrup, table sugar
    -#         %tr
    -#           %th
    -#             Nuts &amp; seeds
    -#           %td
    -#             Cashews, pistachios
    -#           %td
    -#             Macadamias, peanuts, pumpkin seeds/pepitas, walnuts
    -#   .shadow-scroller__shadow-top{style: "opacity: 0;"}
    -#   .shadow-scroller__shadow-right{style: "opacity: 0;"}
    -#   .shadow-scroller__shadow-bottom{style: "opacity: 0;"}
    -#   .shadow-scroller__shadow-left{style: "opacity: 0;"}
    -# %a.btn.btn-green-standard{href: "https://www.monashfodmap.com/3_step_fodmap_diet/"} Download our 3 step FODMAP diet guide &amp; food list
    -# %br/
    -# .rich-text
    -#   %h2 Who should follow a FODMAP diet? 
    -#   %p
    -#     A FODMAP diet is intended is for people with medically diagnosed IBS. If a medical doctor has not diagnosed your gastrointestinal symptoms, you should not be following this diet. There are many conditions with symptoms that are similar to IBS, such as
    -#     = succeed "," do
    -#       %a{href: "/blog/coeliac-disease-screening-and-diagnosis/"} coeliac disease
    -#     = succeed "," do
    -#       %a{href: "/blog/low-fodmap-diet-inflammatory-bowel-disease-ibd-update/"} inflammatory bowel disease
    -#     %a{href: "/blog/endometriosis-and-ibs-importance-of/"} endometriosis
    -#     and bowel cancer. You should not self-diagnose yourself with IBS. Instead, see a medical doctor who will assess your symptoms, run any tests needed to rule out other conditions and give you a clear
    -#     %a{href: "/blog/tests-ibs/"} diagnosis of IBS
    -#     before you start this diet.
    -# .rich-text
    -#   %h2 Benefits of a low FODMAP diet
    -#   %p
    -#     Researchers at Monash University did the original research to come up with the concept of FODMAPs and to establish the efficacy of a low FODMAP diet. Monash research showed
    -#     %a{href: "/ibs-central/symptoms/"} IBS symptoms
    -#     improve in 3 out of 4 people who follow a low FODMAP diet. Other research groups from all over the world have since shown similar results. Because of this, a low FODMAP diet is now recommended as the first treatment choice for people
    -#     %a{href: "/blog/what-is-ibs/"} diagnosed with IBS
    -#   %h2 IBS symptoms that may improve on a low FODMAP diet
    -#   %p A low FODMAP diet has been shown to:
    -#   %ul
    -#     %li Reduce pain and discomfort
    -#     %li Reduce bloating and distension
    -#     %li Improve bowel habit (reduce diarrhea or constipation)
    -#     %li Improve quality of life.
    -#   %p
    -#     These benefits are usually seen within 2-6 weeks of following a
    -#     = succeed "." do
    -#       %a{href: "/about-fodmap-and-ibs/fodmap-diet-resources/"} low FODMAP diet
    -#   %p Of course, the diet does not cure IBS symptoms, it just helps people to live more comfortably with their condition.
    -#   %p
    -#     A low FODMAP diet also does no improve symptoms in ALL people with IBS. In fact, 1 out of 4 people with IBS find their
    -#     = succeed "." do
    -#       %a{href: "/blog/when-low-fodmap-diet-doesnt-work/"} symptoms do not improve on the diet
    -#     %a{href: "/ibs-central/treatments/"} IBS therapies
    -#     to consider include stress reduction,
    -#     = succeed "," do
    -#       %a{href: "/blog/how-effective-is-gut-directed/"} gut directed hypnotherapy
    -#     = succeed "," do
    -#       %a{href: "/blog/fibre-supplements-ibs/"} fibre supplementation
    -# %a.btn.btn-yellow-standard{href: "/ibs-central/i-have-ibs/starting-the-low-fodmap-diet/"} Get started on your FODMAP Diet
    -# %br/