.container
  .page-content
    .wrapper
      .rich-text.mb-30
        %h2 低FODMAPダイエット
        %p        
          低FODMAPダイエットは上にある4つの炭水化物をできるだけ使用しない食事方法です。
          日本ではそれほど認知されていない食事形態のため、低FODMAPレシピを探すのが大変です。
          Happy GutではIBSの方のためのコミュニティーであり、それぞれの低FODMAPレシピをシェアしていただき、美味しく健康にIBSの症状の緩和につながればと思います。
        