.container 
  .page-content
    .wrapper
      .rich-text
        %p
          より詳しく知りたい方は下の説明動画をご覧ください
      .rich-text      
        %iframe{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "350px", src: "https://www.youtube.com/embed/0EZ1hFZ_70I", width: "100%"}
  .page-content
    .about-wrapper
      .rich-text
        %h2 FODMAPsとは
        %p.mb-30
          FODMAPは、IBS患者の腸では完全に消化・吸収されない糖類のグループです。
          FODMAPが小腸に到達すると、水分を吸収しながらゆっくりと移動します。それらが大腸を通過する際、FODMAPは腸内細菌によって発酵され、その結果としてガスが発生します。
          そして、余分なガスと水分が腸壁を引き伸ばして膨張させます。IBSの人は腸が敏感なので、腸壁が「伸びる」ことで痛みや違和感を感じるようになります。
          簡単に言うと、FODMAPは短鎖炭水化物（糖質）の集まりで、腸内で適切に吸収されず、IBSの人の症状の引き金となる可能性があります。
          FODMAPは、多くの食品や食品添加物に自然に含まれています。
        %p
          以下がFODMAPに該当する糖質です。
    .right
      .rich-text
        %h3
          %span> F
          ermentable
        %p          
          発酵性。消化が遅く胃腸で発酵を始めることができる糖類のことを意味し、腹部に不快感を引き起こします。
          
      .rich-text
        %h3 
          %span> O
          ligosaccharides
        %p オリゴ糖。小麦、ライ麦、ニンニクなどに含まれるフルクタンやGOSのこと。
      .rich-text
        %h3 
          %span> D
          isaccharides
        %p 二糖類。いわゆる乳糖のことで、ソフトチーズや牛乳、ヨーグルトなどの乳製品に含まれている。
      .rich-text
        %h3 
          %span> M
          onosaccharides
        %p
          単糖類。フルクトースのことで、蜂蜜やリンゴ、マンゴーなどの果物に含まれる糖類。
      .rich-text
        %h3 
          %span> A
          nd
      .rich-text
        %h3 
          %span> P
          olyols
        %p ポリオール。ソルビトールとマンニトールといわれるもののことで、例えばカリフラワーとかマッシュルーム、アボカドなどの野菜や、その他人工甘味料に含まれている。