.page-content
  .wrapper
    .rich-text
      %h2 IBS(過敏性腸症候群)とは
      %p        
        IBSは、7人に1人が罹患する非常に一般的な胃腸障害です。かつて「痙性結腸」として知られていた腹痛と異常な腸の習慣（便秘、下痢、またはその両方の混合）は、
        IBSの主要な機能です。以下のような他の症状も見られる場合があります。                                
      %p
      %ul
        %li
          ・膨満（腹部の膨らんだ風船の感覚）
        %li
          ・膨満（腹囲の目に見える増加）
        %li
          ・過剰なガス（おなら/風）
        %li
          ・排便の緊急性（うんち）
          -# %p
    -# .rich-text
    -#   %iframe{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "315", src: "https://www.youtube.com/embed/stdYoA4G9Dg", width: "100%"}
    -# %a{name: "causes"}
    -# .rich-text
    -#   %h2 What causes IBS?
    -#   %p We still do not know what causes IBS, although a number of factors are thought to play a role. These includes:
    -# .content-blocks
    -#   .block.icon-block
    -#     .block__image.svg.sensitive-gut-icon
    -#       %svg{viewbox: "0 0 114 84.4", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path{d: "M86.8 44.2c.2-.7.9-1.1 1.6-1.1l11.4-.1c.9 0 1.7.7 1.7 1.6 0 .2 0 .4-.1.6L99 52.4l13.4-.3c.9 0 1.7.7 1.7 1.7 0 .9-.7 1.7-1.7 1.7l-15.7.4c-.9 0-1.7-.7-1.7-1.6 0-.2 0-.4.1-.6l2.4-7.3-9 .1c-.9 0-1.7-.7-1.7-1.6-.1-.3-.1-.5 0-.7zM80.6 34.7c-.2-.7 0-1.4.6-1.8l9.2-6.7c.7-.5 1.8-.4 2.3.4.1.2.2.3.3.5l2.2 7.3 10.7-8c.8-.6 1.8-.4 2.4.4.6.8.4 1.8-.4 2.4l-12.6 9.4c-.7.5-1.8.4-2.3-.3-.1-.2-.2-.3-.3-.5l-2.2-7.4-7.3 5.3c-.7.5-1.8.4-2.3-.4l-.3-.6zM78 52c.4-.6 1.2-.8 1.9-.5l10.7 3.8c.9.3 1.3 1.3 1 2.1-.1.2-.2.3-.3.5l-4.8 5.9 12.6 4.4c.9.3 1.4 1.3 1 2.2-.3.9-1.3 1.4-2.2 1L83 66.3c-.9-.3-1.3-1.3-1-2.1.1-.2.2-.4.3-.5l4.8-6-8.5-3c-.9-.3-1.3-1.3-1-2.1.2-.3.3-.4.4-.6z", fill: "#EB1C2D"}
    -#         %path{d: "M70.7 56.4v-44-.1C70.6 5.4 65.1 0 58.2 0c-3 0-5.9 1.1-8.1 3.1L42.5 9c-2 1.6-4.6 2.5-7.2 2.5-2.6 0-5.2-.9-7.2-2.5l-7.7-6C15.3-1.4 7.5-.8 3 4.3c-1.9 2.2-3 5.1-3 8.1v44.2c0 6.7 5.4 12.1 12.1 12.2 3.1 0 6.1-1.2 8.4-3.3.4 2.4 1.7 4.7 3.5 6.3 1.5 1.2 2.2 3.1 1.6 5v.2c-.2 3.9 2.7 7.3 6.6 7.5s7.3-2.7 7.5-6.6v-4.3l2.9.2c2.9.3 6.1.5 10.4.5 9.7 0 17.6-7.9 17.6-17.7.1-.1.1-.1.1-.2zM21.2 38.9c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8c-2 0-3.9.5-5.7 1.4-3-2.9-3.1-7.6-.2-10.6.7-.8 1.6-1.4 2.6-1.8 2.6 1.8 5.5 3.3 8.5 4.2 2.3 1.8 3.7 4.7 3.6 7.6 0 4.6-3.2 8.6-7.8 9.5-1 .1-1.7 1-1.6 1.9.1 1 1 1.7 1.9 1.6h.5c5.1-1.1 9-4.9 10.2-10V39c1.1-3.2 4.7-5 7.9-3.8 2.4.8 4.1 3.1 4.2 5.6-.1 1.8-.6 3.6-1.5 5.2-.4.9 0 1.9.9 2.3.8.3 1.7.1 2.2-.6 1.2-2.1 1.9-4.4 2-6.8v-.1-.1-.1c0-.1 0 0 0 0-.1-3-1.6-5.8-4-7.5v-.3c-.4-3.2 2-6.1 5.2-6.5h1.3c5.5 0 6.9 6.7 6.9 10.6 0 9.5-6.1 20.9-13.6 20.9-4 0-7.3-3.1-7.6-7.1 0-1.3.4-2.6 1-3.7.6-.8.5-1.9-.3-2.5-.8-.6-1.9-.5-2.5.3-.1.1-.2.3-.2.4-1 1.6-1.5 3.5-1.6 5.5 0 .8.1 1.6.3 2.4-.8.1-1.8 0-2.8-.1-2.7-.1-5.3.9-7.3 2.8l-.5.5c-4.7 1.2-9.5-1.7-10.7-6.4s1.7-9.5 6.4-10.7c.8-.2 1.6-.3 2.3-.3zm18-7.5c-2.2 0-4.2.7-6 2-.3-1.2-.7-2.4-1.3-3.5 1.1.1 2.3.2 3.4.2 2.3 0 4.5-.3 6.7-.8-.2.8-.4 1.6-.5 2.4-.7-.2-1.5-.3-2.3-.3zM53 70.7c-4.1 0-7.3-.3-10.1-.5-3.1-.4-6.2-.5-9.4-.2-1 .1-1.7 1-1.6 2 .1 1 1 1.7 2 1.6.8-.1 1.5-.1 2.2-.1v4.4c-.2 2-1.9 3.4-3.8 3.3-2-.2-3.4-1.9-3.3-3.8v-.2c.7-3-.4-6.2-2.8-8.1-1.6-1.3-2.5-3.3-2.5-5.3s.8-3.9 2.3-5.3c1.2-1.2 2.9-1.9 4.7-1.8 1.7.1 3.4.4 5.1.7 2.2 2.7 5.4 4.2 8.8 4.2 9.6 0 17.1-13.1 17.1-24.4 0-6.1-2.4-12.2-7.7-13.7 1.4-1.1 2.7-2.4 3.9-3.7.7-.7.6-1.8-.1-2.5s-1.8-.6-2.5.1c0 0 0 .1-.1.1-5 5.8-12.4 9.2-20.1 9.2-7.7 0-15-3.3-20-9.2-.7-.7-1.8-.8-2.5-.1-.7.6-.8 1.7-.2 2.4.7.8 1.5 1.6 2.3 2.4-5.2 3.2-6.8 10.1-3.5 15.2.4.6.8 1.1 1.2 1.6-4.9 4.8-5 12.6-.3 17.5 2.1 2.1 4.8 3.4 7.7 3.7-1.9 4.4-7 6.3-11.4 4.4-3.1-1.4-5.1-4.5-5.1-7.9V12.4c0-4.9 4-8.8 8.8-8.8 2.1 0 4.2.8 5.8 2.2l7.9 6.1c2.6 2.1 5.9 3.2 9.3 3.2 3.3 0 6.5-1.1 9.1-3.1l7.9-6.1.1-.1c3.7-3.2 9.2-2.9 12.5.8 1.4 1.6 2.2 3.7 2.2 5.9V56.9c.2 7.6-6.1 13.8-13.9 13.8z", fill: "#1E1934"}
    -#     .block__text-wrapper
    -#       %a{href: "/blog/eating-and-ibs-symptoms/"}
    -#         %h3.left.block__title Gut sensitivity
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             People with IBS may have a more sensitive gut - this is sometimes called 
    -#             %a{href: "/blog/eating-and-ibs-symptoms/"} ‘visceral sensitivity’
    -#   .block.icon-block
    -#     .block__image.svg.altered-gut-icon
    -#       %svg{viewbox: "0 0 95.5 84.4", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path{d: "M84.4 64.1l10-2.6c.8-.2 1.3-1 1.1-1.8-.2-.8-1-1.3-1.8-1.1L87 60.3c5.2-7.2 7.5-13.7 8-19.4.6-6.7-1.1-12.1-3.1-15.8-1.9-3.7-4-5.8-4.1-5.9-.6-.6-1.5-.6-2.1 0-.3.3-.4.6-.4.9 0 .4.1.9.4 1.2.2.2 2 2.1 3.7 5.4 1.7 3.3 3.1 8 2.6 13.8-.5 5.1-2.5 11.2-7.5 18L82.7 52c-.2-.8-1.1-1.3-1.9-1.1-.6.2-1 .7-1.1 1.3v.5l2.8 10.2c.3 1 1.1 1.4 1.9 1.2z", fill: "#1DAD4B"}
    -#         %path{d: "M70.7 56.4v-44-.1C70.6 5.4 65.1 0 58.2 0c-3 0-5.9 1.1-8.1 3.1L42.5 9c-2 1.6-4.6 2.5-7.2 2.5-2.6 0-5.2-.9-7.2-2.5l-7.7-6C15.3-1.4 7.5-.8 3 4.3c-1.9 2.2-3 5.1-3 8.1v44.2c0 6.7 5.4 12.1 12.1 12.2 3.1 0 6.1-1.2 8.4-3.3.4 2.4 1.7 4.7 3.5 6.3 1.5 1.2 2.2 3.1 1.6 5v.2c-.2 3.9 2.7 7.3 6.6 7.5s7.3-2.7 7.5-6.6v-4.3l2.9.2c2.9.3 6.1.5 10.4.5 9.7 0 17.6-7.9 17.6-17.7.1-.1.1-.1.1-.2zM21.2 38.9c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8c-2 0-3.9.5-5.7 1.4-3-2.9-3.1-7.6-.2-10.6.7-.8 1.6-1.4 2.6-1.8 2.6 1.8 5.5 3.3 8.5 4.2 2.3 1.8 3.7 4.7 3.6 7.6 0 4.6-3.2 8.6-7.8 9.5-1 .1-1.7 1-1.6 1.9.1 1 1 1.7 1.9 1.6h.5c5.1-1.1 9-4.9 10.2-10V39c1.1-3.2 4.7-5 7.9-3.8 2.4.8 4.1 3.1 4.2 5.6-.1 1.8-.6 3.6-1.5 5.2-.4.9 0 1.9.9 2.3.8.3 1.7.1 2.2-.6 1.2-2.1 1.9-4.4 2-6.8v-.1-.1-.1c0-.1 0 0 0 0-.1-3-1.6-5.8-4-7.5v-.3c-.4-3.2 2-6.1 5.2-6.5h1.3c5.5 0 6.9 6.7 6.9 10.6 0 9.5-6.1 20.9-13.6 20.9-4 0-7.3-3.1-7.6-7.1 0-1.3.4-2.6 1-3.7.6-.8.5-1.9-.3-2.5-.8-.6-1.9-.5-2.5.3-.1.1-.2.3-.2.4-1 1.6-1.5 3.5-1.6 5.5 0 .8.1 1.6.3 2.4-.8.1-1.8 0-2.8-.1-2.7-.1-5.3.9-7.3 2.8l-.5.5c-4.7 1.2-9.5-1.7-10.7-6.4s1.7-9.5 6.4-10.7c.8-.2 1.6-.3 2.3-.3zm18-7.5c-2.2 0-4.2.7-6 2-.3-1.2-.7-2.4-1.3-3.5 1.1.1 2.3.2 3.4.2 2.3 0 4.5-.3 6.7-.8-.2.8-.4 1.6-.5 2.4-.7-.2-1.5-.3-2.3-.3zM53 70.7c-4.1 0-7.3-.3-10.1-.5-3.1-.4-6.2-.5-9.4-.2-1 .1-1.7 1-1.6 2 .1 1 1 1.7 2 1.6.8-.1 1.5-.1 2.2-.1v4.4c-.2 2-1.9 3.4-3.8 3.3-2-.2-3.4-1.9-3.3-3.8v-.2c.7-3-.4-6.2-2.8-8.1-1.6-1.3-2.5-3.3-2.5-5.3s.8-3.9 2.3-5.3c1.2-1.2 2.9-1.9 4.7-1.8 1.7.1 3.4.4 5.1.7 2.2 2.7 5.4 4.2 8.8 4.2 9.6 0 17.1-13.1 17.1-24.4 0-6.1-2.4-12.2-7.7-13.7 1.4-1.1 2.7-2.4 3.9-3.7.7-.7.6-1.8-.1-2.5s-1.8-.6-2.5.1c0 0 0 .1-.1.1-5 5.8-12.4 9.2-20.1 9.2-7.7 0-15-3.3-20-9.2-.7-.7-1.8-.8-2.5-.1-.7.6-.8 1.7-.2 2.4.7.8 1.5 1.6 2.3 2.4-5.2 3.2-6.8 10.1-3.5 15.2.4.6.8 1.1 1.2 1.6-4.9 4.8-5 12.6-.3 17.5 2.1 2.1 4.8 3.4 7.7 3.7-1.9 4.4-7 6.3-11.4 4.4-3.1-1.4-5.1-4.5-5.1-7.9V12.4c0-4.9 4-8.8 8.8-8.8 2.1 0 4.2.8 5.8 2.2l7.9 6.1c2.6 2.1 5.9 3.2 9.3 3.2 3.3 0 6.5-1.1 9.1-3.1l7.9-6.1.1-.1c3.7-3.2 9.2-2.9 12.5.8 1.4 1.6 2.2 3.7 2.2 5.9V56.9c.2 7.6-6.1 13.8-13.9 13.8z", fill: "#1E1934"}
    -#     .block__text-wrapper
    -#       %a{href: "/blog/eating-and-ibs-symptoms/"}
    -#         %h3.left.block__title Altered gut motility
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             The contents of the gut may move unusually quickly or slowly - this is sometimes called 
    -#             %a{href: "/blog/eating-and-ibs-symptoms/"}> ‘altered gut motility’
    -#             \.
    -#   .block.icon-block
    -#     .block__image.svg.gut-bacteria-icon
    -#       %svg{viewbox: "0 0 62 62", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path{d: "M53.7 36.4l4.8-2c.5-.2.7-.8.5-1.3-.2-.5-.8-.7-1.3-.5l-5 2.1c-1-1.4-2.2-2.6-3.6-3.5l2.2-3.7c.3-.5.1-1.1-.3-1.4-.5-.3-1.1-.1-1.4.3l-2.3 3.8c-1.6-.8-3.4-1.2-5.3-1.2h-.3l3.7-6.6c.3-.5.1-1.1-.4-1.4-.5-.3-1.1-.1-1.4.4l-4.2 7.5c-2-.3-3.9-1.2-5.3-2.6l1.9-1.9c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-1.8 1.8C31.7 23.1 31 21.1 31 19v-.2l4.2-.7c.5-.1.9-.6.8-1.1-.1-.5-.6-.9-1.2-.8l-4.1.7c-.2-1.3-.6-2.4-1.2-3.5l6-3c.5-.3.7-.9.5-1.4-.2-.5-.8-.7-1.3-.4l-6.2 3.1c-.6-.7-1.2-1.4-1.9-2l2.6-3.3c.3-.4.2-1.1-.2-1.4-.4-.3-1.1-.3-1.4.2l-2.7 3.4c-.9-.5-1.8-.9-2.7-1.1l.7-3.3c0-.6-.4-1.1-.9-1.2-.5-.1-1.1.2-1.2.8l-.7 3.3C19.8 7 19.4 7 19 7c-1 0-2 .1-3 .4V1c0-.6-.4-1-1-1s-1 .4-1 1v7.1c-.5.2-1.1.5-1.6.9l-4-4.8c-.3-.5-1-.6-1.4-.2-.4.4-.5 1-.1 1.4l4 4.8c-.6.5-1.1 1.1-1.6 1.8l-1.9-1.3c-.5-.3-1.1-.2-1.4.3-.3.5-.2 1.1.3 1.4l2 1.3c-.5 1-.9 2.1-1.1 3.3H1c-.6 0-1 .4-1 1s.4 1 1 1h6v1c0 .7 0 1.4.1 2.2l-3.3.7c-.6 0-.9.6-.8 1.1.1.5.6.9 1.2.8l3.1-.6c.2 1.4.4 2.7.7 4.1l-5.3 1.5c-.5.1-.9.7-.7 1.2.2.5.7.8 1.2.7l5.3-1.5c.3.9.6 1.7.9 2.5l-5.9 3c-.5.2-.7.8-.5 1.3.2.5.8.7 1.3.4l5.8-2.9c.5 1.1 1 2.1 1.6 3.1l-4.5 3c-.4.3-.5.9-.2 1.4.3.5.9.6 1.4.3l4.4-3c.7 1.1 1.5 2.1 2.3 3.1l-1.8 1.2c-.5.3-.6.9-.3 1.4.3.5.9.6 1.4.3l2.1-1.4c.7.7 1.4 1.5 2.2 2.2l-3.8 4.5c-.4.4-.3 1 .1 1.4.4.4 1.1.3 1.4-.1l3.8-4.5c.8.7 1.7 1.3 2.5 1.8l-4 6.4c-.3.5-.2 1.1.3 1.4.5.3 1.1.2 1.4-.3l4-6.4c1.1.7 2.3 1.3 3.5 1.8l-1.6 4.7c-.2.5.1 1.1.6 1.3.5.2 1.1-.1 1.3-.6l1.5-4.6c1.3.5 2.6.9 4 1.2l-.6 2.8c-.1.5.2 1.1.8 1.2.5.1 1.1-.2 1.2-.8l.6-2.8c1.1.2 2.2.3 3.3.4V61c0 .6.4 1 1 1s1-.4 1-1v-6h1c1.3 0 2.5-.2 3.6-.5l2 4.1c.2.5.8.7 1.3.4.5-.2.7-.8.4-1.3l-1.9-3.9c.8-.4 1.6-.8 2.3-1.4l1.8 2.4c.3.4 1 .5 1.4.2.4-.3.5-1 .2-1.4l-1.9-2.5c.6-.6 1.1-1.3 1.6-2l4.7 3.2c.5.3 1.1.2 1.4-.3.3-.5.2-1.1-.3-1.4l-4.9-3.3c.5-1.1.8-2.2 1-3.4H61c.6 0 1-.4 1-1s-.4-1-1-1h-6c0-1.9-.5-3.8-1.3-5.5zM9 20v-1c0-5.5 4.5-10 10-10s10 4.5 10 10c0 6.6 5.4 12 12 12h1c6.1 0 11 4.9 11 11s-4.9 11-11 11C23.8 53 9 38.2 9 20z", fill: "#1E1934"}
    -#         %path{d: "M20 24c3.3 0 6-2.7 6-6s-2.7-6-6-6-6 2.7-6 6 2.7 6 6 6zm0-10c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4z", fill: "#1DAD4B"}
    -#         %path{d: "M18 29c-1.7 0-3 1.3-3 3s1.3 3 3 3 3-1.3 3-3-1.3-3-3-3zm0 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z", fill: "#EB1C2D"}
    -#         %path{d: "M28 39c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z", fill: "#1DAD4B"}
    -#         %path{d: "M34 31c-1.7 0-3 1.3-3 3s1.3 3 3 3 3-1.3 3-3-1.3-3-3-3zm0 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zM44 38c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z", fill: "#EB1C2D"}
    -#         %path{d: "M60 12v-.2c0-.7-.1-1.4-.2-2l.8-.4c.5-.3.7-.9.4-1.4-.2-.5-.8-.7-1.3-.4l-.5.3c-.4-1-1-1.9-1.7-2.6l2.4-1.8c.4-.4.4-1 .1-1.5-.3-.4-.9-.5-1.4-.2l-2.7 2c-.5-.4-1.1-.7-1.7-1l.3-.5c.2-.5 0-1.1-.4-1.3H54c-.5-.2-1.1 0-1.3.4l-.4.8c-.7-.1-1.3-.2-2-.2H50V1c0-.5-.4-1-1-1-.5 0-1 .4-1 1v1.1c-.6.1-1.1.3-1.5.6 0 0-.4-.6-.7-.7-.4-.2-.8 0-.8 0-.5.2-.7.8-.4 1.3l.4.8c-.4.5-.6 1.1-.8 1.7l-2-.5c-.5-.1-1 .2-1.2.7-.1.5.2 1 .7 1.2l2.4.6c.1.6.3 1.1.6 1.6l-1 .3c-.5.2-.8.7-.6 1.2v.1c.2.5.7.8 1.2.6l1.8-.6c.4.3.8.5 1.3.7l-.6.9c-.3.4-.2 1 .3 1.3h.1c.4.3 1 .2 1.3-.3l1.1-1.6c.3.2.5.5.5.9 0 .7.1 1.3.4 1.9l-1.1.7c-.4.3-.6.9-.3 1.3v.1c.3.4.9.6 1.3.3l1.1-.7c.4.4 1 .8 1.5 1V21c0 .5.4 1 1 1 .5 0 1-.4 1-1v-3c.8 0 1.5-.2 2.1-.5l1.5 1.5c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-1.3-1.3c.6-.6 1-1.4 1.2-2.3H61c.5 0 1-.4 1-1 0-.5-.4-1-1-1h-1zm-8 1c0-1.7-1.3-3-3-3s-3-1.3-3-3 1.3-3 3-3h1.2c4.3 0 7.8 3.5 7.8 7.8V13c0 1.7-1.3 3-3 3s-3-1.3-3-3z", fill: "#1E1934"}
    -#     .block__text-wrapper
    -#       %a{href: "/blog/gut-microbiota/"}
    -#         %h3.left.block__title Bacterial
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             People with IBS may have an imbalance of ‘good’ and ‘bad’ bacteria in their gut - this is sometimes called ‘
    -#             %a{href: "/blog/gut-dysbiosis/"}> dysbiosis
    -#             ’.
    -#   .block.icon-block
    -#     .block__image.svg.leaky-gut-icon
    -#       %svg{viewbox: "0 0 94.2 92.7", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path{d: "M70.7 56.4v-44-.1C70.6 5.4 65.1 0 58.2 0c-3 0-5.9 1.1-8.1 3.1L42.5 9c-2 1.6-4.6 2.5-7.2 2.5-2.6 0-5.2-.9-7.2-2.5l-7.7-6C15.3-1.4 7.5-.8 3 4.3c-1.9 2.2-3 5.1-3 8.1v44.2c0 6.7 5.4 12.1 12.1 12.2 3.1 0 6.1-1.2 8.4-3.3.4 2.4 1.7 4.7 3.5 6.3 1.5 1.2 2.2 3.1 1.6 5v.2c-.2 3.9 2.7 7.3 6.6 7.5s7.3-2.7 7.5-6.6v-4.3l2.9.2c2.9.3 6.1.5 10.4.5 9.7 0 17.6-7.9 17.6-17.7.1-.1.1-.1.1-.2zM21.2 38.9c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8c-2 0-3.9.5-5.7 1.4-3-2.9-3.1-7.6-.2-10.6.7-.8 1.6-1.4 2.6-1.8 2.6 1.8 5.5 3.3 8.5 4.2 2.3 1.8 3.7 4.7 3.6 7.6 0 4.6-3.2 8.6-7.8 9.5-1 .1-1.7 1-1.6 1.9.1 1 1 1.7 1.9 1.6h.5c5.1-1.1 9-4.9 10.2-10V39c1.1-3.2 4.7-5 7.9-3.8 2.4.8 4.1 3.1 4.2 5.6-.1 1.8-.6 3.6-1.5 5.2-.4.9 0 1.9.9 2.3.8.3 1.7.1 2.2-.6 1.2-2.1 1.9-4.4 2-6.8v-.1-.1-.1c0-.1 0 0 0 0-.1-3-1.6-5.8-4-7.5v-.3c-.4-3.2 2-6.1 5.2-6.5h1.3c5.5 0 6.9 6.7 6.9 10.6 0 9.5-6.1 20.9-13.6 20.9-4 0-7.3-3.1-7.6-7.1 0-1.3.4-2.6 1-3.7.6-.8.5-1.9-.3-2.5-.8-.6-1.9-.5-2.5.3-.1.1-.2.3-.2.4-1 1.6-1.5 3.5-1.6 5.5 0 .8.1 1.6.3 2.4-.8.1-1.8 0-2.8-.1-2.7-.1-5.3.9-7.3 2.8l-.5.5c-4.7 1.2-9.5-1.7-10.7-6.4s1.7-9.5 6.4-10.7c.8-.2 1.6-.3 2.3-.3zm18-7.5c-2.2 0-4.2.7-6 2-.3-1.2-.7-2.4-1.3-3.5 1.1.1 2.3.2 3.4.2 2.3 0 4.5-.3 6.7-.8-.2.8-.4 1.6-.5 2.4-.7-.2-1.5-.3-2.3-.3zM53 70.7c-4.1 0-7.3-.3-10.1-.5-3.1-.4-6.2-.5-9.4-.2-1 .1-1.7 1-1.6 2 .1 1 1 1.7 2 1.6.8-.1 1.5-.1 2.2-.1v4.4c-.2 2-1.9 3.4-3.8 3.3-2-.2-3.4-1.9-3.3-3.8v-.2c.7-3-.4-6.2-2.8-8.1-1.6-1.3-2.5-3.3-2.5-5.3s.8-3.9 2.3-5.3c1.2-1.2 2.9-1.9 4.7-1.8 1.7.1 3.4.4 5.1.7 2.2 2.7 5.4 4.2 8.8 4.2 9.6 0 17.1-13.1 17.1-24.4 0-6.1-2.4-12.2-7.7-13.7 1.4-1.1 2.7-2.4 3.9-3.7.7-.7.6-1.8-.1-2.5s-1.8-.6-2.5.1c0 0 0 .1-.1.1-5 5.8-12.4 9.2-20.1 9.2-7.7 0-15-3.3-20-9.2-.7-.7-1.8-.8-2.5-.1-.7.6-.8 1.7-.2 2.4.7.8 1.5 1.6 2.3 2.4-5.2 3.2-6.8 10.1-3.5 15.2.4.6.8 1.1 1.2 1.6-4.9 4.8-5 12.6-.3 17.5 2.1 2.1 4.8 3.4 7.7 3.7-1.9 4.4-7 6.3-11.4 4.4-3.1-1.4-5.1-4.5-5.1-7.9V12.4c0-4.9 4-8.8 8.8-8.8 2.1 0 4.2.8 5.8 2.2l7.9 6.1c2.6 2.1 5.9 3.2 9.3 3.2 3.3 0 6.5-1.1 9.1-3.1l7.9-6.1.1-.1c3.7-3.2 9.2-2.9 12.5.8 1.4 1.6 2.2 3.7 2.2 5.9V56.9c.2 7.6-6.1 13.8-13.9 13.8z", fill: "#1E1934"}
    -#         %g{fill: "#EB1C2D"}
    -#           %path{d: "M92.4 62.9L89 57.8c-.6-.9-2.2-.9-2.8 0L82.7 63c-2.3 3.8-2.3 7.2.2 9.7 1.2 1.2 2.9 1.9 4.7 1.9 1.8 0 3.4-.7 4.7-1.9 2.4-2.6 2.5-6.5.1-9.8zm-2.5 7.4c-1.3 1.3-3.3 1.3-4.6 0-.8-.8-1.7-2.3.2-5.5l2.1-3.1 2.1 3.1c1.4 2.1 1.5 4.1.2 5.5zM80.8 75.9c-.6-.9-2.2-.9-2.8 0l-3.5 5.2c-2.3 3.8-2.3 7.2.2 9.7 1.3 1.3 3 1.9 4.7 1.9s3.4-.6 4.7-1.9c2.5-2.5 2.6-6.4.2-9.7l-3.5-5.2zm.9 12.5c-1.3 1.3-3.3 1.3-4.6 0-.8-.8-1.7-2.3.2-5.5l2.1-3.1 2.1 3.1c1.4 2.1 1.5 4.2.2 5.5z"}
    -#         %path{d: "M67.1 66.9l-.4-3.8-.1-.9c-.1-.9-.9-1.5-1.7-1.4l-3.1.3-.5-4.7c-.1-.9-.9-1.5-1.7-1.4l-3.2.4-.5-4.6c-.1-.9-.9-1.5-1.7-1.4l-4.8.6c-.9.1-1.5.9-1.4 1.7.1.9.9 1.5 1.7 1.4l3.1-.3.5 4.7c.1.9.9 1.5 1.7 1.4l3.1-.3.3 3.1c0 .1.1.3.1.4l.1 1.1c.1.9.9 1.5 1.7 1.4l3.1-.3.3 3.1c0 .4.2.8.5 1 .3.3.7.4 1.2.4 1.2-.3 1.8-1.1 1.7-1.9z", fill: "#EB1C2D"}
    -#     .block__text-wrapper
    -#       %h3.left.block__title Leaky gut
    -#       .block__desc
    -#         .rich-text
    -#           %p People with IBS may have a slightly inflamed or ‘leaky’ gut that is not readily detected on usual testing.
    -#   .block.icon-block
    -#     .block__image.svg.infected-gut-icon
    -#       %svg#Layer_1{viewbox: "0 0 109.7 84.6", xmlns: "http://www.w3.org/2000/svg"}
    -#         :css
    -#           .gut-infection-st3,.gut-infection-st4{fill:#eb1c2d;stroke:#eb1c2d;stroke-miterlimit:10}.gut-infection-st4{display:inline}
    -#         %path{d: "M70.7 56.4v-44-.1C70.6 5.4 65.1 0 58.2 0c-3 0-5.9 1.1-8.1 3.1L42.5 9c-2 1.6-4.6 2.5-7.2 2.5-2.6 0-5.2-.9-7.2-2.5l-7.7-6C15.3-1.4 7.5-.8 3 4.3c-1.9 2.2-3 5.1-3 8.1v44.2c0 6.7 5.4 12.1 12.1 12.2 3.1 0 6.1-1.2 8.4-3.3.4 2.4 1.7 4.7 3.5 6.3 1.5 1.2 2.2 3.1 1.6 5v.2c-.2 3.9 2.7 7.3 6.6 7.5s7.3-2.7 7.5-6.6v-4.3l2.9.2c2.9.3 6.1.5 10.4.5 9.7 0 17.6-7.9 17.6-17.7.1-.1.1-.1.1-.2zM21.2 38.9c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8c-2 0-3.9.5-5.7 1.4-3-2.9-3.1-7.6-.2-10.6.7-.8 1.6-1.4 2.6-1.8 2.6 1.8 5.5 3.3 8.5 4.2 2.3 1.8 3.7 4.7 3.6 7.6 0 4.6-3.2 8.6-7.8 9.5-1 .1-1.7 1-1.6 1.9.1 1 1 1.7 1.9 1.6h.5c5.1-1.1 9-4.9 10.2-10V39c1.1-3.2 4.7-5 7.9-3.8 2.4.8 4.1 3.1 4.2 5.6-.1 1.8-.6 3.6-1.5 5.2-.4.9 0 1.9.9 2.3.8.3 1.7.1 2.2-.6 1.2-2.1 1.9-4.4 2-6.8v-.1-.1-.1c0-.1 0 0 0 0-.1-3-1.6-5.8-4-7.5v-.3c-.4-3.2 2-6.1 5.2-6.5h1.3c5.5 0 6.9 6.7 6.9 10.6 0 9.5-6.1 20.9-13.6 20.9-4 0-7.3-3.1-7.6-7.1 0-1.3.4-2.6 1-3.7.6-.8.5-1.9-.3-2.5-.8-.6-1.9-.5-2.5.3-.1.1-.2.3-.2.4-1 1.6-1.5 3.5-1.6 5.5 0 .8.1 1.6.3 2.4-.8.1-1.8 0-2.8-.1-2.7-.1-5.3.9-7.3 2.8l-.5.5c-4.7 1.2-9.5-1.7-10.7-6.4s1.7-9.5 6.4-10.7c.8-.2 1.6-.3 2.3-.3zm18-7.5c-2.2 0-4.2.7-6 2-.3-1.2-.7-2.4-1.3-3.5 1.1.1 2.3.2 3.4.2 2.3 0 4.5-.3 6.7-.8-.2.8-.4 1.6-.5 2.4-.7-.2-1.5-.3-2.3-.3zM53 70.7c-4.1 0-7.3-.3-10.1-.5-3.1-.4-6.2-.5-9.4-.2-1 .1-1.7 1-1.6 2 .1 1 1 1.7 2 1.6.8-.1 1.5-.1 2.2-.1v4.4c-.2 2-1.9 3.4-3.8 3.3-2-.2-3.4-1.9-3.3-3.8v-.2c.7-3-.4-6.2-2.8-8.1-1.6-1.3-2.5-3.3-2.5-5.3s.8-3.9 2.3-5.3c1.2-1.2 2.9-1.9 4.7-1.8 1.7.1 3.4.4 5.1.7 2.2 2.7 5.4 4.2 8.8 4.2 9.6 0 17.1-13.1 17.1-24.4 0-6.1-2.4-12.2-7.7-13.7 1.4-1.1 2.7-2.4 3.9-3.7.7-.7.6-1.8-.1-2.5s-1.8-.6-2.5.1c0 0 0 .1-.1.1-5 5.8-12.4 9.2-20.1 9.2-7.7 0-15-3.3-20-9.2-.7-.7-1.8-.8-2.5-.1-.7.6-.8 1.7-.2 2.4.7.8 1.5 1.6 2.3 2.4-5.2 3.2-6.8 10.1-3.5 15.2.4.6.8 1.1 1.2 1.6-4.9 4.8-5 12.6-.3 17.5 2.1 2.1 4.8 3.4 7.7 3.7-1.9 4.4-7 6.3-11.4 4.4-3.1-1.4-5.1-4.5-5.1-7.9V12.4c0-4.9 4-8.8 8.8-8.8 2.1 0 4.2.8 5.8 2.2l7.9 6.1c2.6 2.1 5.9 3.2 9.3 3.2 3.3 0 6.5-1.1 9.1-3.1l7.9-6.1.1-.1c3.7-3.2 9.2-2.9 12.5.8 1.4 1.6 2.2 3.7 2.2 5.9V56.9c.2 7.6-6.1 13.8-13.9 13.8z", fill: "#1e1934"}
    -#         %path.gut-infection-st3{d: "M80 76.3c-2.5.3-4.8-1.4-5.1-3.9-.1-.9-.4-2.8 1.3-4.3.4-.3.9-.6 1.5-.8 1.9-.8 4.4-1.9 4.4-7 .1-6.5 3.4-9.2 6.3-9.6 4.6-.6 8.7 2.6 9.3 7.2.5 3.5-.7 6.3-3.9 9.9-3.2 3.6-11 8.1-13.8 8.5zm8.7-24c-3 .4-4.9 3.4-5 8 .1 6.1-3.4 7.7-5.3 8.5-.5.2-.9.4-1 .5-.9.8-.9 1.6-.8 2.9.2 1.6 1.7 2.8 3.3 2.6 2.2-.3 9.7-4.5 12.9-8 3-3.2 3.9-5.6 3.5-8.6-.6-3.8-3.9-6.4-7.6-5.9z"}
    -#         %path.gut-infection-st3{d: "M90.8 61.3c-1.5.2-3-.9-3.2-2.4-.2-1.5.9-3 2.4-3.2 1.5-.2 3 .9 3.2 2.4.3 1.5-.8 3-2.4 3.2zm-.5-4c-.7.1-1.1.7-1.1 1.4.1.7.7 1.1 1.4 1.1.7-.1 1.1-.7 1.1-1.4-.1-.7-.7-1.2-1.4-1.1zM81.1 84.1h-.3c-.4-.1-.7-.5-.6-1 .2-1.2 0-1.4 0-1.4-.3-.3-1.5 0-2.4.1-2.3.4-5.4.2-6.2-3.7-.5-2.4 2.1-3.8 3.8-4.2.4-.1.9.1 1 .6.1.4-.1.9-.6 1 0 0-3 .8-2.7 2.4.4 2.1 1.6 3 4.4 2.4 1.5-.3 2.9-.5 3.8.3.7.8.6 2 .4 2.9 0 .3-.3.5-.6.6zM72.9 72.7c-.4.1-.8-.3-.9-.7s.3-.8.7-.9l1.7-.2c.4-.1.8.3.9.7.1.4-.3.8-.7.9l-1.7.2zM78.2 68c-.2 0-.5-.1-.7-.3l-.9-1c-.3-.3-.3-.8.1-1.1.3-.3.8-.3 1.1.1l.9 1c.3.3.3.8-.1 1.1-.1.1-.3.2-.4.2zM80.4 65.5c-.2 0-.4 0-.6-.2l-1.3-1c-.4-.3-.4-.7-.1-1.1.3-.4.7-.4 1.1-.1l1.3 1c.4.3.4.7.1 1.1-.1.2-.3.3-.5.3zM75.1 69.8h-.4l-1.3-.4c-.4-.1-.6-.6-.5-1 .1-.4.6-.6 1-.5l1.3.4c.4.1.6.6.5 1 0 .3-.3.5-.6.5zM81.9 77.7c-.4.1-.7-.2-.9-.6l-.3-1.3c-.1-.4.1-.9.5-1s.9.1 1 .5l.4 1.3c.1.4-.1.9-.5 1-.1.1-.1.1-.2.1z"}
    -#         %path.gut-infection-st3{d: "M77.9 77.5c-.2 0-.3 0-.5-.1-.4-.2-.5-.7-.3-1.1l.6-1.1c.2-.4.7-.5 1.1-.3.4.2.5.7.3 1.1l-.6 1.1c-.1.3-.3.4-.6.4zM85.5 77.1c-.4 0-.7-.1-.8-.5l-.9-2c-.2-.4 0-.9.4-1.1.4-.2.9 0 1.1.4l.9 2c.2.4 0 .9-.4 1.1-.1 0-.2.1-.3.1zM88.9 75.6c-.3 0-.7-.1-.8-.4l-1.2-2.1c-.2-.4-.1-.9.3-1.1.4-.2.9-.1 1.1.3l.9 1.6c.5.8.4 1.3 0 1.6-.1 0-.2 0-.3.1zM91.8 73.4c-.3 0-.6-.1-.8-.3l-1.2-1.7c-.2-.4-.2-.9.2-1.1.4-.2.9-.2 1.1.2l1.2 1.7c.2.4.2.9-.2 1.1 0 .1-.2.1-.3.1zM94.1 71.3c-.3 0-.5-.1-.7-.3l-1.3-1.4c-.3-.3-.2-.8.1-1.1.3-.3.8-.2 1.1.1l1.3 1.4c.3.3.2.8-.1 1.1-.1.1-.2.2-.4.2zM96.5 69.2c-.3 0-.6-.1-.8-.3l-1.5-1.7c-.2-.4-.2-.9.2-1.1.4-.2.9-.2 1.1.2L97 68c.2.4.2.9-.2 1.1-.1.1-.2.1-.3.1zM98.8 66.5c-.2 0-.4 0-.6-.2L96 64.8c-.4-.3-.4-.7-.1-1.1s.7-.4 1.1-.1l2.2 1.6c.4.3.4.7.1 1.1-.1.1-.3.2-.5.2zM100.3 63.6c-.2 0-.3 0-.4-.1L97.2 62c-.4-.2-.6-.6-.4-1 .2-.4.6-.6 1-.4l2.7 1.4c.4.2.6.6.4 1-.1.4-.3.5-.6.6zM100.8 59.4h-.9l-2.1-.1c-.4 0-.8-.4-.8-.9 0-.4.4-.8.9-.8l2.8.1c.4 0 .8.4.8.9s-.3.8-.7.8zM96.4 56.2c-.4 0-.7-.1-.8-.5-.2-.4 0-.9.5-1l3.1-1.5c.4-.2.9 0 1 .5.2.4 0 .9-.5 1l-3.1 1.5h-.2zM94.9 53.8c-.3 0-.5-.1-.7-.3-.3-.3-.2-.8.1-1.1l4.4-4c.3-.3.8-.2 1.1.1.3.3.2.8-.1 1.1l-4.4 4c-.1.1-.2.1-.4.2zM91.7 52.3c-.2 0-.3 0-.4-.1-.4-.2-.6-.6-.4-1l2.1-4.9c.2-.4.6-.6 1-.4.4.2.6.6.4 1l-2.1 4.9c-.1.3-.3.4-.6.5zM81.9 62.3c-.1 0-.3 0-.4-.1l-2-.8c-.4-.1-.6-.6-.5-1 .1-.4.6-.6 1-.5l2 .8c.4.1.6.6.5 1-.1.4-.3.6-.6.6zM82 58.9c-.1 0-.3 0-.4-.1l-1.7-.7c-.4-.2-.6-.6-.4-1 .2-.4.6-.6 1-.4l1.7.7c.4.2.6.6.4 1-.1.3-.3.5-.6.5zM82.7 55.5c-.2 0-.4 0-.6-.2l-1.3-1c-.4-.3-.4-.7-.2-1.1.3-.4.7-.4 1.1-.2l1.3 1c.4.3.4.7.2 1.1-.1.2-.3.3-.5.4zM84.9 52.8c-.3 0-.6-.1-.8-.3l-.9-1.5c-.2-.4-.2-.9.2-1.1.4-.2.9-.2 1.1.2l.9 1.4c.2.4.2.9-.2 1.1-.1.1-.2.1-.3.2zM88.3 52.4c-.4.1-.7-.2-.9-.6L86.3 48c-.1-.4.1-.9.5-1 .4-.1.9.1 1 .5l1.2 3.8c.1.4-.1.9-.5 1-.1 0-.2 0-.2.1zM99.1 80.8c-.2 0-.4 0-.5-.1-.7-.5-1.3-1.2-1.5-2-.2-.9-.1-1.8.4-2.5.2-.4.7-.5 1.1-.3.4.2.5.7.3 1.1-.2.4-.3.8-.2 1.3.1.4.4.8.8 1.1.4.2.5.7.3 1.1-.2.2-.4.3-.7.3zM93.3 82.2c-1.3.2-2.6-.5-3-1.8-.1-.4 0-.8.5-1 .4-.1.8 0 1 .5.1.3.4.6.6.7.3.1.6.2.9 0 .4-.1.8 0 1 .5.2.4 0 .8-.5 1-.1 0-.3.1-.5.1zM104.9 72.3c-.3 0-.6-.1-.8-.3-.3-.4-.9-.6-1.3-.3-.4.2-.9.2-1.1-.2-.2-.4-.2-.9.2-1.1 1.2-.8 2.7-.4 3.5.7.2.4.2.9-.2 1.1 0 0-.1.1-.3.1z"}
    -#     .block__text-wrapper
    -#       %a{href: "/blog/diet-for-gastro-low-fodmap-diet-during/"}
    -#         %h3.left.block__title Infections
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             Sometimes IBS starts after a severe gut infection such as 
    -#             %a{href: "/blog/diet-for-gastro-low-fodmap-diet-during/"}> gastroenteritis
    -#              - often termed 'gastro'.
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Gut sensitivity - people with IBS have an overally sensitive gut wall
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %span
    -#           People with IBS may have a highly sensitive gut wall. This means they are more sensitive to normal movements of the gut, such as stretching or distension. These normal events may be uncomfortable or quite painful in people with IBS. Around 60% of people with IBS are thought to have a highly sensitive gut wall.
    -#           %a{href: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3437337/"} (2)
    -#         %p
    -#           %span
    -#             %br/
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Altered gut motility - people with IBS have disturbances in the speed at which contents more through the gut
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %p
    -#           %span
    -#             This means that contents move through the gut at an unusually quickly or unusually slowly. Around 1 in 3 people with IBS are thought to have this problem. If movement through the gut is unusually fast, this may result in diarrhoea. Whereas, if movement through the gut is unusually slow this may result in constipation.
    -#             %a{href: "https://onlinelibrary.wiley.com/doi/full/10.1111/j.1365-2982.2007.01025.x"} (3)
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Bacterial - people with IBS may have alterations in their gut microbiota
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %span
    -#           The gut microbiota refers to the complex community of microorganisms that live within the gut of humans. Although we still do not know whether our gut bacteria cause IBS, some research has shown differences between the microbiota of people with and without IBS.
    -#           %a{href: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3551212/"} (4)
    -#         %p
    -#           %span
    -#             %br/
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Other possible causes of IBS - infections, 'leaky gut', etc.
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %p
    -#           %span Other possible causes of IBS include inflammation in the intestine or possibly, a more permeable or ‘leaky’ gut wall.
    -# %a{name: "symptoms"}
    -# .rich-text
    -#   %h2 Symptoms of IBS 
    -#   %p
    -#     %span It is common for the symptoms of IBS to fluctuate over time - there are good times and bad times. 
    -#     %span IBS symptoms can vary greatly between individuals and they might vary over time. These include:
    -# .content-blocks
    -#   .block.icon-block
    -#     .block__image.svg.abdominal-pain-icon
    -#       %svg#Layer_1{viewbox: "0 0 92.7 93.7", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path.st0{d: "M65.5 66.3c.2-.7.9-1.1 1.6-1.1l11.4-.1c.9 0 1.7.7 1.7 1.6 0 .2 0 .4-.1.6l-2.4 7.2 13.4-.3c.9 0 1.7.7 1.7 1.7 0 .9-.7 1.7-1.7 1.7l-15.8.4c-.9 0-1.7-.7-1.7-1.6 0-.2 0-.4.1-.6l2.4-7.3-9 .1c-.9 0-1.7-.7-1.7-1.6 0-.2 0-.4.1-.7z", fill: "#eb1c2d"}
    -#         %path{d: "M54.8 20.4c0-8.3-6.7-15.1-15.1-15.1-4.8 0-9.3 2.3-12.2 6.1h-6.7c-1.6 0-2.8-1.3-2.8-2.8v-7c0-.9-.7-1.6-1.6-1.6-.9 0-1.6.7-1.6 1.6v7c0 3.3 2.7 6 6 6h4.9c-.4.9-.7 1.9-.9 2.9h-3.6c-5.2 0-9.4-4.2-9.4-9.4V1.6c0-.9-.7-1.6-1.6-1.6-.9 0-1.6.7-1.6 1.6v6.6c0 7 5.7 12.6 12.7 12.7h3.2v2.7c0 3.9-3.1 7-7 7-1.3 0-2.6-.4-3.7-1-1.4-.8-2.9-1.2-4.5-1.2-5.1 0-9.3 4.1-9.3 9.3 0 1.4.3 2.8.9 4.1-.6 1.2-.9 2.6-.9 4v17.6C.1 68.8 4.5 73 9.8 73c2.2 0 4.3-.8 6-2.2.4 1.8 1.4 3.3 2.7 4.5 1.1.8 1.6 2.3 1.2 3.6v.2c-.5 3.1 1.7 6 4.8 6.4 3.1.5 6-1.7 6.4-4.8 0-.3.1-.6.1-1v-3l1 .1c2.5.3 5 .4 7.6.4 8 0 15.1-6.4 15.1-13.8V45.8c0-3.1-1.5-6-4-7.8 2.6-3.9 4-8.5 4-13.2v-4.4zm-40.7 35c7.6 5.3 17.6 5.6 25.5.8.7 1.6.7 3.5-.1 5.1-.9 1.9-2.8 3-4.8 3-1.8 0-3.5-.9-4.6-2.3l-.1-.1c-.1-.2-.3-.3-.5-.4l-.2-.1c-1.6-.4-3.3-.7-5-.9-2.1-.1-4.2.7-5.8 2.2l-.4.4c-2.4.5-4.8-1.1-5.3-3.6-.4-1.5.1-3 1.3-4.1zm37.4 8c0 6.1-6.3 10.6-11.9 10.6-2.4 0-4.8-.1-7.2-.4-2.1-.3-4.3-.3-6.4-.1-.9.1-1.5.9-1.4 1.8s.9 1.5 1.8 1.4c.5 0 1-.1 1.4-.1v3.2c.1 1.4-.9 2.5-2.3 2.7-1.4.1-2.5-.9-2.7-2.3v-.4-.4-.1c.5-2.4-.4-4.9-2.3-6.4-1.1-1-1.8-2.4-1.8-3.9 0-1.1.4-2.2 1-3.1.1-.1.1-.1.1-.2.2-.2.3-.4.5-.6.9-.9 2.1-1.4 3.4-1.3 1.3.1 2.6.3 3.9.6 1.7 2 4.2 3.2 6.8 3.2 3.3.1 6.4-1.8 7.8-4.8 1.3-2.7 1.2-5.8-.1-8.5 1-.8 1.9-1.7 2.8-2.7.6-.7.6-1.7-.1-2.3-.7-.6-1.7-.6-2.3.1l-.1.1c-7.3 8.4-19.9 9.3-28.3 2-.7-.6-1.4-1.3-2-2-.6-.7-1.6-.7-2.3-.1-.5.6-.6 1.6-.1 2.3.5.6 1.1 1.2 1.7 1.8-3 3-2.9 7.9.1 10.9 1 1 2.3 1.7 3.7 2-1.6 3.1-5.4 4.4-8.6 2.8-2.1-1.1-3.5-3.3-3.5-5.7V45.8c0-3.6 3-6.5 6.6-6.4 1.6 0 3.1.6 4.2 1.6l6.1 4.7h.1c4.2 3.2 9.9 3.2 14.1 0h.1l6.1-4.8v-.1c2.7-2.4 6.8-2.2 9.2.5 1.1 1.2 1.7 2.8 1.7 4.5v17.6zm-3.6-26.9c-3.2-1-6.8-.3-9.3 2L32.8 43c-3.1 2.5-7.6 2.5-10.7 0l-5.9-4.6c-3.7-3.2-9.2-3.2-12.9.1-.5-3.3 1.8-6.4 5.1-6.9.3-.1.7-.1 1-.1 1 0 2 .2 2.9.7 4.8 2.9 11.1 1.4 14-3.4 1-1.6 1.5-3.4 1.5-5.3v-3.1c0-6.6 5.3-11.9 11.9-11.9s11.9 5.3 11.9 11.9v4.4c-.1 4.2-1.3 8.3-3.7 11.7z", fill: "#1e1934"}
    -#         %path{d: "M59.3 56.9c-.2-.7 0-1.4.6-1.8l9.2-6.7c.7-.5 1.8-.4 2.3.4.1.2.2.3.3.5l2.2 7.3 10.7-8c.8-.6 1.8-.4 2.4.4.6.8.4 1.8-.4 2.4L74 60.7c-.7.5-1.8.4-2.3-.3-.1-.2-.2-.3-.3-.5l-2.2-7.4-7.3 5.3c-.7.5-1.8.4-2.3-.4-.1-.1-.2-.3-.3-.5zM56.7 74.2c.4-.6 1.2-.8 1.9-.5l10.7 3.8c.9.3 1.3 1.3 1 2.1-.1.2-.2.3-.3.5L65.2 86l12.6 4.4c.9.3 1.4 1.3 1 2.2-.3.9-1.3 1.4-2.2 1l-14.9-5.1c-.9-.3-1.3-1.3-1-2.1.1-.2.2-.4.3-.5l4.8-6-8.5-3c-.9-.3-1.3-1.3-1-2.1.2-.3.3-.5.4-.6z", fill: "#eb1c2d"}
    -#     .block__text-wrapper
    -#       %a{href: "/blog/alleviating-symptoms-part-3/"}
    -#         %h3.left.block__title Abdominal Pain
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             Abdominal 
    -#             %a{href: "/blog/alleviating-symptoms-part-3/"}> pain
    -#              or 
    -#             %a{href: "/blog/a-bit-of-bloating-is-beneficial/"}> discomfort
    -#              might occur anywhere in the abdomen, though most commonly it is experienced in the mid or lower abdomen.
    -#   .block.icon-block
    -#     .block__image.svg.toilet-icon
    -#       %svg{viewbox: "0 0 52.7 81.7", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path{d: "M18.5 17.1h2.6v2.6h-2.6zm15.8 0h2.6v2.6h-2.6zM18.5 35.6h2.6v2.6h-2.6zm15.8 0h2.6v2.6h-2.6z", fill: "#1e1934"}
    -#         %path{d: "M52.7 1.3c0-.7-.6-1.3-1.3-1.3H4c-.8 0-1.4.6-1.4 1.3v5.3c0 .7.6 1.3 1.3 1.3h1.3v2.6h-4c-.7 0-1.3.6-1.3 1.3v5.3c0 .7.6 1.3 1.3 1.3h4v17.1c0 .7.6 1.3 1.3 1.3h5.9c.9 1.9 2.1 3.7 3.5 5.3h-4.2c-2.2 0-4 1.8-4 4s1.8 4 4 4h.1c.3 5.4 3.1 10.3 7.5 13.3l-2.1 10.4H13c-.7 0-1.3.6-1.3 1.3v5.3c0 .7.6 1.3 1.3 1.3h29c.7 0 1.3-.6 1.3-1.3v-5.3c0-.7-.6-1.3-1.3-1.3h-4l-2.1-10.4c4.4-3 7.2-7.9 7.5-13.3h.1c2.2 0 4-1.8 4-4s-1.8-4-4-4h-4.2c1.5-1.6 2.7-3.3 3.5-5.3h5.9c.7 0 1.3-.6 1.3-1.3V7.9h1.3c.7 0 1.3-.6 1.3-1.3V1.3zM2.6 15.8v-2.6h2.6v2.6H2.6zm38.3 63.3H14.5v-2.6h26.4v2.6zm-5.6-5.3H20.1l1.8-9.1c3.7 1.6 7.9 1.6 11.6 0l1.8 9.1zm-7.6-10.5c-6.9 0-12.5-5.8-13.1-13.2h26.2c-.6 7.4-6.3 13.2-13.1 13.2zm17.1-17.2c0 .7-.6 1.3-1.3 1.3H11.9c-.7 0-1.3-.6-1.3-1.3 0-.7.6-1.3 1.3-1.3h31.6c.7 0 1.3.6 1.3 1.3zM20 42.2c-4.4-3.5-6.9-8.9-6.8-14.5 0-9.4 6.5-17.1 14.5-17.1s14.5 7.7 14.5 17.1c.1 5.6-2.4 11-6.8 14.5H20zm27.5-7.9h-3.6c.7-2.1 1-4.4 1-6.6 0-10.9-7.7-19.8-17.1-19.8s-17.1 8.9-17.1 19.8c0 2.2.3 4.5 1 6.6H7.9V7.9h39.5v26.4zm2.6-29H5.3V2.6h44.8v2.7z", fill: "#1e1934"}
    -#     .block__text-wrapper
    -#       %a{href: "/blog/lets-talk-number-twos-whats-normal-and/"}
    -#         %h3.left.block__title Bowel changes
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             This can be 
    -#             %a{href: "/blog/managing-constipation-ibs/"}> constipation
    -#             , 
    -#             %a{href: "/blog/alleviating-symptoms-part-2/"}> diarrhea
    -#              or alternating between 
    -#             %a{href: "/blog/managing-constipation-ibs/"}> constipation
    -#              and 
    -#             %a{href: "/blog/alleviating-symptoms-part-2/"}> diarrhea
    -#              - meaning erratic and unpredictable bowel habits.
    -#   .block.icon-block
    -#     .block__image.svg.bloating-icon
    -#       %svg{viewbox: "0 0 147 162.7", xmlns: "http://www.w3.org/2000/svg"}
    -#         :css
    -#           .bloated-st0{fill:none;stroke:#130f33;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
    -#         %g#Layer_2
    -#           %path.bloated-st0{d: "M106.2 141.1s7-15.7 12.2-29.3c5.2-13.7 5.5-21.7 3.5-30.7-.8-3.6-10.5-24.5-13.8-34.8-3.3-10.3 3.7-21.3 3.7-21.3s-14.5 4.2-35-5.5c-13.6-6.4-26.8-.9-26.8-.9s1 5.5-2.8 13c-9.5 11.5-16.7 17-13.2 39.5.8 5.4-.8 28.5 6.2 55 1.5 6.5 3.3 11 5 14.3"}
    -#           %path.bloated-st0{d: "M34 71.1s9.3 9.3 18.3 9.7c9 .3 9.3-.5 25.7-10s32.2-8 36.5-6M72.7 90.6c-.3.2-4 11.5-5.7 26.5-1.8 15.9-.8 23.7-.8 23.7M36.2 99.1s.7-1.8 9-2.5c12.2-1.3 14.5 1 22.7 6.2"}
    -#           %path.bloated-st0{d: "M70.2 105.1s19.2-10 33.7-8 16.3 7 16.3 7M56.5 56.7c.6.3 1.8 2.5-.7 5M21.7 28.1l6 5.5M14.8 44.9l7.7 2.8M23.2 65.1l-8.1.4"}
    -#     .block__text-wrapper
    -#       %a{href: "/blog/abdominal-bloating-vs-distension-causes-and-treatments/"}
    -#         %h3.left.block__title Bloating &amp; Distension
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             %a{href: "/blog/abdominal-bloating-vs-distension-whats-difference/"}> Abdominal bloating
    -#              where the abdomen feels full and distended, and 
    -#             %a{href: "/blog/abdominal-bloating-vs-distension-whats-difference/"}> abdominal distension
    -#              where the abdomen is seen to be distended.
    -#   .block.icon-block
    -#     .block__image.svg.flatulence-icon
    -#       %svg#Layer_1{viewbox: "0 0 107.2 69.3", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path{d: "M86.8 14.7c-.9 0-1.7-.6-1.9-1.5-.2-1.1.4-2.1 1.5-2.4l5.3-1.2c1.1-.2 2.1.4 2.4 1.5.2 1.1-.4 2.1-1.5 2.4l-5.3 1.2h-.5zM66.8 19.1c-.9 0-1.7-.6-1.9-1.6-.2-1.1.5-2.1 1.5-2.3l13.7-2.8c1.1-.2 2.1.5 2.3 1.5.2 1.1-.5 2.1-1.5 2.3L67.2 19c-.2.1-.3.1-.4.1zM22.9 29.2c-.9 0-1.7-.6-1.9-1.5-.2-1.1.4-2.1 1.5-2.4l17.4-3.9c1.1-.2 2.1.4 2.4 1.5.2 1.1-.4 2.1-1.5 2.4l-17.4 3.9h-.5zM12.3 31.6c-.9 0-1.7-.6-1.9-1.5-.2-1.1.4-2.1 1.5-2.4l3.6-.8c1.1-.2 2.1.4 2.4 1.5.2 1.1-.4 2.1-1.5 2.4l-3.6.8h-.5z", fill: "#1e1934"}
    -#         %path{d: "M75.1 34.1c-1 0-1.9-.8-2-1.9 0-1.1.8-2 1.9-2.1l23.4-1c1.1-.1 2 .8 2.1 1.9 0 1.1-.8 2-1.9 2.1l-23.5 1c.1 0 0 0 0 0zM2 37.4c-1 0-1.9-.8-2-1.9-.1-1.1.8-2 1.9-2.1L44.8 31c1.1-.1 2 .8 2.1 1.9.1 1.1-.8 2-1.9 2.1L2.1 37.4H2z", fill: "#eb1c2d"}
    -#         %path{d: "M105.2 53.6h-.2l-22.9-2.5c-1.1-.1-1.9-1.1-1.7-2.2.1-1.1 1.1-1.9 2.2-1.7l22.9 2.5c1.1.1 1.9 1.1 1.7 2.2-.2.9-1 1.7-2 1.7zM76.1 50.4h-.2l-10.2-1.1c-1.1-.1-1.9-1.1-1.7-2.2.1-1.1 1.1-1.9 2.2-1.7l10.2 1.1c1.1.1 1.9 1.1 1.7 2.2-.1.9-1 1.7-2 1.7zM44.8 46.2h-.2L32 44.8c-1.1-.1-1.9-1.1-1.7-2.2.1-1.1 1.1-1.9 2.2-1.7l12.6 1.4c1.1.1 1.9 1.1 1.7 2.2-.1 1-1 1.7-2 1.7zM24.3 44h-.2l-12-1.3c-1.1-.1-1.9-1.1-1.7-2.2.1-1.1 1.1-1.9 2.2-1.7l12 1.3c1.1.1 1.9 1.1 1.7 2.2-.2 1-1 1.7-2 1.7z", fill: "#1e1934"}
    -#         %path{d: "M81.5 60.1h-.4l-17.8-3.5c-1.1-.2-1.8-1.2-1.5-2.3.2-1.1 1.2-1.8 2.3-1.5l17.8 3.5c1.1.2 1.8 1.2 1.5 2.3-.1.8-.9 1.5-1.9 1.5zM37.5 51.6h-.3l-12.8-1.9c-1.1-.2-1.8-1.2-1.7-2.2s1.2-1.8 2.2-1.7l12.8 1.9c1.1.2 1.8 1.2 1.7 2.2-.1 1-.9 1.7-1.9 1.7z", fill: "#eb1c2d"}
    -#         %path{d: "M30.5 22.2c-1.1 0-2-.9-2-2C28.5 9.1 37.6 0 48.8 0c9.9 0 18.3 7.1 20 16.8.2 1.1-.5 2.1-1.6 2.3-1.1.2-2.1-.5-2.3-1.6-1.4-7.9-8.2-13.6-16.1-13.6-9 0-16.3 7.3-16.3 16.3-.1 1.1-.9 2-2 2z", fill: "#1e1934"}
    -#         %path{d: "M64.2 44c-1.1 0-2-.9-2-2s.9-2 2-2c4.9 0 8.9-4 8.9-8.9s-4-8.9-8.9-8.9c-1.1 0-2-.9-2-2s.9-2 2-2C71.3 18.2 77 24 77 31c.1 7.3-5.7 13-12.8 13zM51.2 69.3c-11.2 0-20.4-9.1-20.4-20.4 0-1.1.9-2 2-2s2 .9 2 2c0 9.1 7.4 16.4 16.4 16.4S67.7 58 67.7 48.9c0-1.1.9-2 2-2s2 .9 2 2c-.1 11.3-9.2 20.4-20.5 20.4zM49.4 36.2c-4.7 0-9-2.9-10.6-7.6-1-2.8-.8-5.9.6-8.6 1.3-2.7 3.6-4.7 6.5-5.7 1-.3 2.1.2 2.5 1.2.3 1-.2 2.1-1.2 2.5-1.8.6-3.3 1.9-4.2 3.7-.9 1.7-1 3.7-.4 5.6 1.3 3.8 5.4 5.8 9.2 4.6 1-.3 2.1.2 2.5 1.2.3 1-.2 2.1-1.2 2.5-1.3.4-2.5.6-3.7.6z", fill: "#1e1934"}
    -#         %path{d: "M52.4 47.2c-4.2 0-7.7-3.4-7.7-7.7s3.4-7.7 7.7-7.7c1.1 0 2 .9 2 2s-.9 2-2 2c-2.1 0-3.7 1.7-3.7 3.7s1.7 3.7 3.7 3.7c1.1 0 2 .9 2 2-.1 1.1-.9 2-2 2z", fill: "#1e1934"}
    -#         %path{d: "M48.4 55.1c-3.7 0-6.7-3-6.7-6.7s3-6.7 6.7-6.7c1.1 0 2 .9 2 2s-.9 2-2 2c-1.5 0-2.8 1.2-2.8 2.8 0 1.5 1.2 2.8 2.8 2.8 1.1 0 2 .9 2 2s-1 1.8-2 1.8z", fill: "#1e1934"}
    -#     .block__text-wrapper
    -#       %h3.left.block__title Flatulence
    -#       .block__desc
    -#         .rich-text
    -#           %p
    -#             Excessive flatulence where passage of 
    -#             %a{href: "/blog/wind-and-flatulence/"}> flatus/gas/wind
    -#              is greater than usual.
    -#   .block.icon-block
    -#     .block__image.svg.fatigue-icon
    -#       %svg#Layer_1{viewbox: "0 0 85.5 85.5", xmlns: "http://www.w3.org/2000/svg"}
    -#         %path{d: "M38.7 37.3c-.3.4-.3 1-.1 1.4.2.5.7.8 1.2.8s1-.2 1.3-.6c.4-.5 1-.8 1.7-.8.6 0 1.3.3 1.7.8.4.6 1.3.8 2 .4s.8-1.3.4-2c-.9-1.3-2.4-2.1-4-2.1-1.7 0-3.2.8-4.2 2.1zM28.4 26.6c.7.4 1.6.1 1.9-.6.9-1.7 2.9-4 3.9-3.8.5.1 1 0 1.4-.4s.5-.9.4-1.4c-.1-.5-.5-.9-1-1-3.7-.9-6.6 4.2-7.2 5.2-.2.3-.2.7-.1 1.1.1.4.4.7.7.9z", fill: "#1e1934", transform: "translate(0 -1)"}
    -#         %path{d: "M16.6 48c.4.6.9 1.1 1.5 1.5 1.3 1 2.8 1.6 4.4 1.6h.3c1 2.1 2.8 3.8 4.9 4.8 1.1.5 2.2 1.1 3.3 1.6.6.3 1.1.6 1.7.9v5.9l-8.6 4.8c-.1-.6-.6-1.1-1.3-1.1-.4 0-.7.2-1 .4-.3.3-.4.6-.4 1v1.2l-9.9 5.5c-2.7 1.5-4.4 4.4-4.4 7.5v1.5c0 .4.2.7.4 1 .3.3.6.4 1 .4H77c.4 0 .7-.2 1-.4.3-.3.4-.6.4-1v-1.5c0-3.1-1.7-6-4.4-7.5l-9.9-5.5v-1.2c0-.4-.2-.7-.4-1-.3-.3-.6-.4-1-.4-.7 0-1.2.5-1.4 1.1l-8.6-4.8v-5.9c.6-.3 1.2-.6 1.7-.9 1.1-.6 2.2-1.1 3.3-1.6 2.2-.9 3.9-2.6 4.9-4.8h.3c1.6 0 3.2-.6 4.4-1.6.6-.5 1.2-1.1 1.7-1.7.2.1.4.2.6.2.5.1 1 .1 1.5.1 2.6 0 5.2-.9 7.2-2.6 6.3-5.2 7.2-16.6 7.2-17.1s-.2-1-.6-1.3c-.4-.3-.9-.4-1.4-.2-8.3 3.3-11.4-1.5-16.1-10.3-1.8-3.7-4-7.2-6.6-10.4C54-1.7 41.8 1 35.7 3c-2.8-1.6-6.2-1.8-9.3-.6-3.1 1.2-4.7 5.4-6.5 10.1-2.9 8.5-6.5 17.9-18.4 17-.4 0-.9.1-1.2.5-.3.3-.4.8-.3 1.2.1.2 3.2 16.4 16.6 16.8zm4.8 35.7H10v-.1c0-2.1 1.1-4 2.9-5l8.5-4.7v9.8zm42.7-9.8l8.5 4.7c1.8 1 2.9 2.9 2.9 5v.1H64.1v-9.8zM19.9 47.3c-1.8-1.6-2.8-4-2.8-6.4-.1-.8.2-1.6.9-2.2 1.1-.7 2.4-1 3.7-.8-.1 1.2-.2 2.4-.2 3.5l-.8-.4c-.5-.2-1-.2-1.4.1s-.7.8-.6 1.3c0 .5.3 1 .8 1.2l2.1 1.1c.1 1.2.2 2.4.5 3.6-1-.2-1.7-.5-2.2-1zm41.4 25v11.4H24.2V72.3l8.6-4.7v6.1c0 .8.6 1.4 1.4 1.4.8 0 1.4-.6 1.4-1.4V59.8c1.9.9 4 1.5 6.1 1.7.1 0 .3.1.4.1h1.3c.1 0 .3 0 .4-.1 2.1-.3 4.2-.8 6.1-1.7v13.9c0 .8.6 1.4 1.4 1.4.8 0 1.4-.6 1.4-1.4v-6.1l8.6 4.7zm-4.8-19c-1.1.5-2.2 1.1-3.4 1.7-3.4 1.8-6.8 3.6-10.4 3.7-3.6-.1-7-1.9-10.4-3.7-1.1-.6-2.3-1.2-3.4-1.7-5.4-2.5-5.2-8.3-4.3-18.4.3-3.4.6-7 .6-10.7-.1-2.7.9-5.4 2.9-7.3 3.6-3.4 9.7-3.7 12.3-3.7H43.7c.1 0 8.8-.6 13.4 3.7 2 1.9 3.1 4.6 2.9 7.3 0 3.7.3 7.3.6 10.7 1.1 10.1 1.3 15.9-4.1 18.4zm9.2-6c-.6.5-1.3.8-2 .9.3-1.2.4-2.4.5-3.6l2.1-1.1c.7-.4 1-1.2.6-1.9s-1.2-1-1.9-.6l-.8.4c0-1.1-.1-2.3-.2-3.5 1.3-.2 2.6.1 3.7.8.6.6.9 1.4.9 2.2-.1 2.5-1.1 4.8-2.9 6.4zM22.8 13.7c1.5-4 2.9-7.7 4.9-8.5 1.3-.5 2.8-.7 4.3-.4-.5.4-.6 1.1-.4 1.7.3.7 1.2 1 1.9.7 0-.2 17.5-8 25.3 1 2.4 3 4.5 6.4 6.2 9.9 3.9 7.3 7.9 14.9 17.4 12.4-.5 3.3-2 9.7-5.9 12.9-1.7 1.4-3.8 2.1-6 1.9.5-1.4.8-2.8.8-4.3.1-1.7-.6-3.3-1.9-4.4-1.7-1.2-3.7-1.7-5.7-1.4v-.4c-.3-3.4-.6-6.9-.6-10.5.1-3.5-1.3-7-3.8-9.4-5.4-5-14.6-4.5-15.5-4.5h-1.7c-.4 0-10-.7-15.6 4.5-2.6 2.4-4 5.9-3.8 9.4 0 3.6-.3 7.1-.6 10.5v.4c-2-.2-4 .3-5.7 1.4-1.3 1.1-2 2.7-1.9 4.4 0 1.4.2 2.8.7 4.1C7.4 43.7 4.3 36 3.3 32.4c12.4-.1 16.5-10.8 19.5-18.7z", fill: "#1e1934", transform: "translate(0 -1)"}
    -#         %path{d: "M37.5 32.2c.7.3 1.6-.1 1.8-.9.3-.7-.1-1.6-.9-1.8-2.4-.8-5-.5-7.1.8-.6-.1-1.1-.4-1.5-.8-.5-.6-1.4-.7-2-.2-.6.5-.7 1.4-.3 2 .3.4.8.8 1.2 1-.3.3-.4.5-.5.5-.5.6-.4 1.5.2 2 .6.5 1.5.4 2-.2.3-.1 3.3-3.7 7.1-2.4zM51.3 22.3c1.1-.3 3 2.1 3.9 3.8.4.7 1.2 1 1.9.6s1-1.2.6-1.9c-.6-1-3.5-6.1-7.2-5.2-.5.1-.9.5-1 1-.1.5 0 1 .4 1.4s.9.4 1.4.3zM55.7 29.5c-.4.4-.9.7-1.5.8-2.1-1.3-4.7-1.6-7.1-.8-.7.3-1.1 1.1-.9 1.8.3.7 1.1 1.1 1.8.9 3.8-1.3 6.8 2.3 7 2.5.5.6 1.4.7 2 .2.6-.5.7-1.4.2-2l-.5-.5c.5-.3.9-.6 1.2-1 .5-.6.4-1.5-.3-2-.6-.5-1.4-.5-1.9.1z", fill: "#1e1934", transform: "translate(0 -1)"}
    -#         %path{d: "M42.8 42.4c-3.7-.2-6.9 2.7-7.1 6.4.2 3.7 3.4 6.6 7.1 6.4 3.7.2 6.9-2.7 7.1-6.4-.2-3.8-3.4-6.6-7.1-6.4zm0 9.9c-2.2.2-4.1-1.4-4.3-3.6.2-2.2 2.1-3.7 4.3-3.6 2.2-.2 4.1 1.4 4.3 3.6-.3 2.2-2.2 3.8-4.3 3.6z", fill: "#1dad4b", transform: "translate(0 -1)"}
    -#     .block__text-wrapper
    -#       %h3.left.block__title Fatigue
    -#       .block__desc
    -#         .rich-text
    -#           %p Fatigue may also occur because of abdominal symptoms.
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Abdominal pain
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %p
    -#           %span
    -#             Most people with IBS experience abdominal pain, and usually, this is felt in the lower abdomen.
    -#             %a{href: "https://www.ncbi.nlm.nih.gov/pubmed/27144627"}> (5)
    -#              The pain can be crampy or sharp, stabbing or dull and can last minutes or hours. Often, abdominal pain will be made better or worse by defection (doing a poo). It can also be linked to a change in bowel habit.
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Constipation
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %p
    -#           %span Constipation is a common problem believed to affect about half of people with IBS.
    -#           %a{href: "https://www.ncbi.nlm.nih.gov/pubmed/12641512"} (6)
    -#           %span  
    -#           %span People who suffer constipation often experience:
    -#         %ul
    -#           %li Difficulty passing a bowel motion (straining)
    -#           %li A feeling that the bowel is not properly emptied after a bowel motion
    -#           %li Hard or lumpy stools
    -#           %li Infrequent bowel motions
    -#           %li Sensation of blockage in the anus and/or rectum
    -#           %li Use of the fingers to remove stool
    -#         %p When constipation is present, this can make other IBS symptoms worse, such as abdominal pain, excessive gas, bloating and/or distension.
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Diarrhea
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %p
    -#           %span Loose or watery bowel motions are common in IBS. If diarrhea is present, this can result in more frequent/urgent bowel movements. In severe cases, diarrhoea can result in incontinence.
    -# .accordion-box
    -#   .li
    -#     .title
    -#       %h3.heading Bloating and distension
    -#       %span.icon-indicator.caret
    -#     .content{style: "display: none;"}
    -#       .rich-text
    -#         %span
    -#           Bloating and distension are common, bothersome symptoms in IBS.
    -#           %a{href: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1838021/"} (7)
    -#           Bloating refers to a sensation of abdominal swelling. Patients will sometimes describe this feeling as an inflated balloon in the belly. By contrast, abdominal distention refers to an actual increase in abdominal circumference (sometimes called abdominal girth).
    -#         %p Because abdominal bloating and distension are different symptoms, they can occur together or separately.
    -#         %p People who suffer bloating and/or distension often report that these symptoms:
    -#         %ul
    -#           %li Get worse over the day;
    -#           %li Get worse with meals;
    -#           %li Improve overnight.
    -# .rich-text
    -#   %h2
    -#     %span Will I have IBS forever?
    -#     %br/
    -#   IBS is considered a chronic condition, which means it is usually present over the long-term. However, IBS symptoms often come and go over time. Symptoms may improve or disappear for a time, and then return, or new symptoms may develop. Symptoms may also change from being quite mild, to sometimes being quite severe. Some people also find that their usual bowel habit (e.g. diarrhea or constipation) changes. For example, they may suffer mostly constipation or mostly diarrhea for a while, and then develop more of a mixed bowel habit, (sometimes experiencing diarrhea and sometimes experiencing constipation).
    -#   %a{href: "https://www.ncbi.nlm.nih.gov/pubmed/15080847"} (1)
    -#   %h2 Getting a diagnosis of IBS
    -#   IBS should not be ‘self-diagnosed’. Instead, if you suspect you have IBS, see your medical doctor for a proper diagnosis.
    -#   %a{href: "/blog/what-is-ibs/"} Getting a diagnosis
    -#   is important to rule out other more serious conditions, such as
    -#   = succeed "," do
    -#     %a{href: "https://www.coeliac.org.au/coeliac-disease/"} coeliac disease
    -#   %a{href: "https://www.crohnscolitisfoundation.org/what-is-ibd/newly-diagnosed"} inflammatory bowel disease
    -#   and
    -#   = succeed "." do
    -#     %a{href: "https://www.mayoclinic.org/diseases-conditions/endometriosis/symptoms-causes/syc-20354656"} endometriosis
    -#   %h2 Symptoms to tell your doctor about
    -#   There are certain symptoms that are considered ‘red flags’ or ‘alarm features’ in IBS. This is because they are sometime present in more serious conditions, such as celiac disease or inflammatory bowel disease. If you experience any of the following symptoms, make sure you tell your doctor:
    -#   %ul
    -#     %li
    -#       Blood in the stool
    -#     %li
    -#       Anemia
    -#     %li
    -#       Weight loss that is unintentional
    -#     %li
    -#       Fever
    -#     %li
    -#       Symptoms that are severe or getting progressively worse
    -#     %li
    -#       Daily diarrhea
    -#     %li
    -#       Bowel motions at night
    -#     %li Having a family history of other bowel diseases
    -#   %p Your doctor may want to run additional tests to rule other conditions out if you suffer any of these symptoms.
    -#   %h2 Tests for IBS
    -#   The type and number of
    -#   %a{href: "/blog/tests-ibs/"} tests needed to diagnose IBS
    -#   can vary quite a lot between individuals. If your doctor identifies no symptoms that he or she is concerned about (such as blood in the stool or anemia), few (if any) tests are needed to confirm a diagnosis of IBS. However, sometimes additional tests are needed to rule out other conditions (such as celiac disease) and to confirm the diagnosis of IBS. Common tests can include:
    -#   %ul
    -#     %li
    -#       Blood tests
    -#     %li
    -#       Stool tests
    -#     %li Gastroscopy/colonoscopy
    -#   %h2 Unreliable tests for IBS
    -#   There are also many tests that are widely available, but not helpful in diagnosing IBS. These include:
    -#   %ul
    -#     %li
    -#       %a{href: "/blog/research-update-how-important-diagnosis-fructose-malabsorption-fodmap-approach/"} Breath tests
    -#     %li IgG food intolerance tests 
    -#     %li Faecal microbiota testing 
    -#   %span We do not recommend the use of these tests.
    -#   %br/
    -# .rich-text
    -#   %h2 IBS Treatment
    -#   There are a large number of
    -#   = succeed "." do
    -#     %a{href: "/ibs-central/treatments/"} treatments available to manage IBS symptoms
    -#   %p You may be advised to begin by trying non-drug therapies. These are generally better at improving a range of symptoms, whereas drug therapies tend to target specific symptoms. An advantage of non-drug therapies is that they can often be used long-term, without ongoing costs, with few risks, and sometimes, with minimal health professional input.
    -#   %p
    -#     %b Below is a list of therapies sometimes used to manage symptoms of IBS:
    -#   %ul
    -#     %li
    -#       Low FODMAP diet
    -#       %a{href: "https://www.ncbi.nlm.nih.gov/pubmed/24076059"} (8)
    -#     %li
    -#       Gluten free diet
    -#     %li
    -#       Modifying fibre intake – via dietary changes or
    -#       %a{href: "/blog/summer-smoothies/"} supplements
    -#     %li
    -#       %a{href: "/blog/does-fat-play-role-in-management-of-ibs/"} Fat restricted diet
    -#     %li
    -#       Coffee and
    -#       %a{href: "/blog/does-caffeine-affect-ibs-symptoms/"} caffeine restriction
    -#     %li
    -#       %a{href: "/blog/more-fodmaps/"} Alcohol restriction
    -#     %li
    -#       Restriction of spicy foods
    -#     %li
    -#       Prescription medications such as antispasmodics, antidepressants, prosecretory agents, anti-diarrheal agents, antibiotics, serotonin agents
    -#     %li
    -#       Over the counter medications, such as
    -#       = succeed "," do
    -#         %a{href: "/blog/peppermint-oil-does-it-help-relieve/"} peppermint oil
    -#       %a{href: "/blog/probiotics-ibs/"} probiotics
    -#     %li
    -#       Exercise
    -#     %li
    -#       Gut directed hypnotherapy
    -#       %a{href: "https://www.ncbi.nlm.nih.gov/pubmed/27397586"} (9)
    -#     %li
    -#       Cognitive behavior therapy
    -#     %li
    -#       %a{href: "/blog/alleviating-symptoms-part-4/"} Stress management
    -#   %h2 What is the best diet for IBS?
    -#   %p
    -#     There are many different
    -#     %a{href: "/ibs-central/diets/"} dietary strategies that can help relieve IBS
    -#     symptoms. Research at Monash University and numerous other centres around the world has shown that a
    -#     %a{href: "/about-fodmap-and-ibs/"} low FODMAP diet
    -#     improves IBS symptoms in around 3 out of 4 IBS sufferers. Because of this, a low FODMAP diet is recommended as the first treatment choice for people with IBS.
    -# .rich-text
    -#   %p
    -#     %b References:
    -#   %p
    -#   %ol
    -#     %li
    -#       %i El-Serag HB, Pilgrim P, Schoenfeld P. Systemic review: Natural history of irritable bowel syndrome. Aliment Pharmacol Ther. 2004;19(8):861-70.
    -#     %li
    -#       %i Zhou Q, Verne GN. New insights into visceral hypersensitivity--clinical implications in IBS. Nat Rev Gastroenterol Hepatol. 2011;8(6):349-55.
    -#     %li
    -#       %i Sadik R, Stotzer P-o, Simrén M, Abrahamsson H. Gastrointestinal transit abnormalities are frequently detected in patients with unexplained GI symptoms at a tertiary centre. Neurogastroenterology &amp; Motility. 2008;20(3):197-205.
    -#     %li
    -#       %i Simrén M, Barbara G, Flint HJ, Spiegel BMR, Spiller RC, Vanner S, et al. Intestinal microbiota in functional bowel disorders: a Rome foundation report. Gut. 2013;62(1):159-76.
    -#     %li
    -#       %i Mearin F, Lacy BE, Chang L, Chey WD, Lembo AJ, Simren M, et al. Bowel Disorders. Gastroenterology. 2016.
    -#     %li
    -#       %i Hungin AP, Whorwell PJ, Tack J, Mearin F. The prevalence, patterns and impact of irritable bowel syndrome: an international survey of 40,000 subjects. Aliment Pharmacol Ther. 2003;17(5):643-50.
    -#     %li
    -#       %i Maxton DG, Morris JA, Whorwell PJ. Ranking of symptoms by patients with the irritable bowel syndrome. BMJ. 1989;299(6708):1138-.
    -#     %li
    -#       %i Halmos EP, Power VA, Shepherd SJ, Gibson PR, Muir JG. A diet low in FODMAPs reduces symptoms of irritable bowel syndrome. Gastroenterology. 2014;146(1):67-75.e5.
    -#     %li
    -#       %i Peters SL, Yao CK, Philpott H, Yelland GW, Muir JG, Gibson PR. Randomised clinical trial: the efficacy of gut-directed hypnotherapy is similar to that of the low FODMAP diet for the treatment of irritable bowel syndrome. Aliment Pharmacol Ther. 2016;44(5):447-59.
    -#   %p