.container
  .page-content
    .wrapper
      .rich-text.mb-30
        %h2 IBS(過敏性腸症候群)とは
        %p        
          IBSは、7人に1人が罹患する非常に一般的な胃腸障害です。普段の生活でみられる原因不明の腹痛と異常な腸の習慣（便秘、下痢、またはその両方の混合）は、
          IBSの主要な症状です。また、以下のような他の症状も見られる場合があります。                                
        %p
        %ul
          %li
            ・腹部の膨張感（腹部の膨らんだ風船のような感覚）          
          %li  
            ・過剰なガス
          %li
            ・排便の緊急性