%section#services.content-section.text-center
  .container
    .content-section-heading
      %h3.text-secondary.mb-0 Category
      %h2.mb-5 低FODMAPレシピをカテゴリー別に探す
    .row    
      .category.col-md-5
        %a
          .category-wrapper.category-bg-img1          
            %span.category-txt グルテンフリー
      .category.col-md-5
        %a
          .category-wrapper.category-bg-img2          
            %span.category-txt ラクトースフリー
      .category.col-md-5
        %a
          .category-wrapper.category-bg-img3          
            %span.category-txt ベジタリアン
      .category.col-md-5
        %a
          .category-wrapper.category-bg-img4          
            %span.category-txt ビーガン
          
          