.register-section
  .row.left
    %h1.page-title Happy Gut
    .rich-text
      %p さっそく登録して低FODMAPレシピを探そう！
    %button.btn.btn-dark{type: "button"}
      = link_to 'ログイン', new_user_session_path
    %button.btn.btn-warning{type: "button"}            
      = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post