%section#services.content-section.text-center
  .container
    %h3.mb-30 Happy Gutとは
    .section-about
      %img.gut-image{:alt => "gut-image", :src => "https://happy-gut-fodmap.s3-ap-northeast-1.amazonaws.com/uploads/recipe/picture/diarrhea.png"}/
      %p 
        誰もが人生で一度はお腹の調子が悪くなったことがあると思います。例えば、ガス溜まりであったり、腹部の膨満感、便秘、下痢など。
        %br>/
        もし、これらの症状によく悩まされているとしたら、あなたは過敏性腸症候群(IBS)かもしれません。
        %br>/
        IBS はごく一般的で、 10 人のうち 2 人が症状に悩まされていると言われています。IBSを引き起こす原因としてFODMAPsと呼ばれている炭水化物があります。
        %br>/
        Happy GutはそんなIBSの方が低FODMAPのレシピを見つけたりシェアできるサービスです。