%h1 FODMAPsとは
%p
  FODMAPは、私たちの腸では完全に消化・吸収されない糖類のグループです。FODMAPが小腸に到達すると、
  水を引き寄せながらゆっくりと移動します。彼らが大腸に通過すると、FODMAPは腸内細菌によって発酵され、その結果としてガスが発生します。
  余分なガスと水分が腸壁を伸ばして膨張させます。IBSの人は腸が敏感なので、腸壁が「伸びる」ことで痛みや違和感を感じるようになります。
%p
  簡単に言うと、FODMAPは短鎖炭水化物（糖質）の集まりで、腸内で適切に吸収されず、IBSの人の症状の引き金となる可能性があります。FODMAPは、多くの食品や食品添加物に自然に含まれています。
