- provide(:title, "home")
- if user_signed_in?
  %section.stats
    = render 'shared/stats'
  = render 'shared/feed'
  = paginate @feed_items
- else
  %h2 ログインしてください
  = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post