label {
  color: #1a8bbb;
  min-width: 100px;
  display: block;
  font-size: 18px;
  font-family: HelveticaNeueW01-67MdCn_692710,Arial,serif;  
}

.padding-4 {
  padding: 40px;
}
.text-center {
  text-align: center;
}



.top-menu {
  background-color: #e6e7e8;
  height: 100px;
    .navbar-nav {  
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
        li {
          padding: 20px;
        }
        li a {
          height: 50px;
          display: inline-block;
          color: #1e1934;
          font-family: HelveticaNeueW01-67MdCn_692710,Arial,serif;
          font-size: 15px;
          text-decoration: none;
          padding: 15px 0;
          margin: 0;
        }
        li:nth-of-type(1)  {
          padding-left: 20px;
          margin-left: auto; 
        }
    }        
}

.banner {
  height: 270px;
  background-color: #1e1934;
  .wrapper {
    height: 290px;
    padding: 103px 0;
  }
  .wrapper:after {
    content: "";
    width: 100%;    
    position: relative;
    display: block;
    background: url(../images/icon/form-banner-icon.png) no-repeat 98% bottom; // would be nice to have fruit icon or something
    background-size: 334px 343px;
    margin-top: -239px;
    right: 0;
    z-index: 1;
  }
  .top h1 {    
    font-family: HelveticaNeueW01-47LtCn_692686,Arial,serif;
    color: #fff;
  }
}

.wrapper {
  display: block;
  max-width: 1200px;
  padding: 0 0;
  margin: auto;
  box-sizing: border-box;
}

.logo{
  img {
    height: 100px;
    padding: 5px 0;
  }
}



