.main {
  background-color: #06921199;
  width: auto;
  margin-top: -20px;
  text-align: center;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), asset-url("abdomon.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  margin-bottom: 20px;
  margin-top: 0px;
}

.btn-dark {
  background-color: #25a84a;
  a {
    color: white;
  }
}

.icon {
  color: #27c2b6;
}


.page-content {
  .about-wrapper {
    display: block;
    max-width: 1200px;
    padding: 0 0;
    margin: auto;
    box-sizing: border-box;
  }
  .rich-text {
    width: 100%;
  }  
  h2 {
    font-size: 34px;
    line-height: 40px;
    color: #149fda;
    margin-bottom: 20px;
    font-family: HelveticaNeueW01-47LtCn_692686,Arial,serif;
    margin-top: 35px;
  }
}
.row.right {
  width: 100%;
  .rich-text {
    display: block;
    width: 100%;
    padding: 25px 40px;
    background-color: #27c2b6;
    margin-bottom: 20px;
    height: 96px;
    h3 {
      color: white;
      font-family: HelveticaNeueW01-47LtCn_692686,Arial,serif;
      width: 340px;
      display: inline-block;
      font-size: 37px;
      margin: 0;
      vertical-align: top;
      span {
        color: #149fda;
      }
    }
    p {
      color: #fff;
      display: inline-block;
      font-family: HelveticaNeueW01-57Cn,Arial,serif;
      width: calc((100% - 350px));
      padding-right: 150px;
      margin: 0;
      min-height: 40px;
      font-size: 18px;
    }
  }
}  

.register-section {
  background-color: #06921199;
  width: auto;  
  text-align: center;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(/assets/abdomon-fc7b285….gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  .section-about {    
    display: flex;    
    padding: 0 60px;
    justify-content: center;
    font-size: 21px;
    margin-bottom: 20px;
    img {
      max-width: 300px;
    }
    p {
      margin-left: 20px;
      text-align: left;
    }
  }
  .section-service {
    p {
      padding: 0 30px;
    }
  }
}

.category {
  margin: 40px; 
  a {
    display: block;    
    cursor: pointer;
    text-decoration: none;
  }
  a:hover {
    transition: .3s;
    text-decoration: none;
    opacity: .9;
  }
  .category-wrapper {  
    height: 130px;
  }  
  .category-bg-img1{    
    height: 130px;    
    background-image: url(https://www.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1200x628-facebook.jpg);
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;
  }
  .category-bg-img2{    
    height: 130px;    
    background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/foods_for_circulation_slideshow/1800x1200_foods_for_circulation_slideshow.jpg);
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;
  }
  .category-bg-img3{    
    height: 130px;    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvxAJcSQRs2u2vkyS5GoKLm66Op0CqWt0rjg&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;
  }
  .category-bg-img4{    
    height: 130px;    
    background-image: url(https://i.insider.com/5ea9a9e0d553f817a1546be6?width=1100&format=jpeg&auto=webp);
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;
  }
  .category-txt {
    position: relative;
    top: 34%;
    width: 100%;    
    font: 600 20px/42px "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ Pro W4", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    color: white;
    text-align: center;
  }
}

.loged-in-category {
  background-color: #dff0d8;
  margin-top: -20px;
  margin-bottom: 50px;
}

